---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style>
  @keyframes slideInFromTop {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .file-item-enter {
    animation: slideInFromTop 0.3s ease-out forwards;
  }
</style>

<div id={id} class="mt-2 flex flex-col gap-y-2 text-sm text-gray-500"></div>

<template id="file-item-template">
  <div
    class="relative flex w-full min-w-0 items-center justify-between gap-2.5 rounded-md border-[0.5px] border-gray-300 p-3 py-1 text-sm"
  >
    <div class="flex min-w-0 flex-1 items-center gap-2">
      <div class="file-icon-container size-7 shrink-0"></div>
      <div class="flex min-w-0 flex-1 flex-col">
        <span class="file-name truncate text-sm leading-5 font-medium text-gray-950"></span>
        <span class="file-size text-muted-foreground truncate text-xs leading-4"></span>
      </div>
    </div>
    <div class="flex shrink-0 items-center gap-2">
      <button
        type="button"
        class="delete-file inline-flex size-7 shrink-0 items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-all outline-none hover:bg-gray-200"
        aria-label="Supprimer le fichier"
      >
        <svg
          class="pointer-events-none size-4 shrink-0"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</template>
