---
import { cn } from '@/lib/utils';
import type { AccordionGroupNewStoryblok } from '@/types/storyblok';
import { parseStoryblokMaxWidth } from '@/utils/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface AstroProps {
  blok: AccordionGroupNewStoryblok;
}

const { blok } = Astro.props as AstroProps;

const setTitleFontSize = (fontSize: AccordionGroupNewStoryblok['titleFontSize'] | undefined) => {
  switch (fontSize) {
    case '16px':
      return '[&_.accordion-title]:text-[1rem]/5';
    case '18px':
      return '[&_.accordion-title]:text-[1.125rem]/5';
    case '20px':
      return '[&_.accordion-title]:text-[1.25rem]/5';
    default:
      return '[&_.accordion-title]:text-[1rem]/5';
  }
};

const setTextFontSize = (fontSize: AccordionGroupNewStoryblok['textFontSize'] | undefined) => {
  switch (fontSize) {
    case '14px':
      return '[&_.accordion-text]:text-[0.875rem]/5';
    case '16px':
      return '[&_.accordion-text]:text-[1rem]/5.5';
    case '18px':
      return '[&_.accordion-text]:text-[1.125rem]/5.5';
    default:
      return '[&_.accordion-text]:text-[0.875rem]/5';
  }
};

const accordionStyle = blok.style ?? 'line';
---

<div
  {...storyblokEditable(blok)}
  class={cn(
    'mx-auto space-y-4 divide-gray-200 dark:divide-gray-900 w-full',
    parseStoryblokMaxWidth(blok.maxWidth),
    setTitleFontSize(blok.titleFontSize),
    setTextFontSize(blok.textFontSize),
    accordionStyle === 'line' && 'divide-y-1'
  )}
  data-style={accordionStyle}
>
  {
    blok.accordions.map((accordion) => (
      <StoryblokComponent blok={accordion} style={accordionStyle} />
    ))
  }
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const accordionGroup = document.querySelector('[data-style]');
    const accordionStyle = accordionGroup?.getAttribute('data-style');

    if (accordionStyle === 'none-open') {
      return;
    }

    const accordions = document.querySelectorAll('.accordion');

    accordions.forEach((accordion, index) => {
      const header = accordion.querySelector('h4') as HTMLHeadingElement;
      const content = accordion.querySelector('.content-wrapper') as HTMLDivElement;
      const contentInner = accordion.querySelector('.content') as HTMLDivElement;

      // Set initial height to 0 for closed accordions
      if (!(accordionStyle === 'bg-1st-open' && index === 0)) {
        content.style.height = '0px';
      }

      // Open the first accordion if style is "bg-1st-open"
      if (accordionStyle === 'bg-1st-open' && index === 0) {
        accordion.classList.add('accordion-open');
        content.style.height = contentInner.offsetHeight + 'px';
      }

      header.addEventListener('click', () => {
        const isOpen = accordion.classList.contains('accordion-open');

        if (isOpen) {
          // Closing
          content.style.transition = 'height 300ms ease-in-out';
          content.style.height = contentInner.offsetHeight + 'px';
          requestAnimationFrame(() => {
            content.style.height = '0px';
          });
          accordion.classList.remove('accordion-open');
        } else {
          // Opening
          const height = contentInner.offsetHeight;
          content.style.transition = 'height 300ms ease-in-out';
          content.style.height = '0px';
          requestAnimationFrame(() => {
            content.style.height = height + 'px';
          });
          accordion.classList.add('accordion-open');
        }
      });
    });
  });
</script>
