---
import Richtext from '@/components/richtext.astro';
import { cn } from '@/lib/utils';
import type { AccordionNewStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: AccordionNewStoryblok;
  style: 'none' | 'none-open' | 'line' | 'bg-1st-open';
}

const { blok, style } = Astro.props as AstroProps;
---

<div
  {...storyblokEditable(blok)}
  class="accordion rounded-xl bg-white p-6 shadow ring-1 ring-gray-950/5"
>
  <h4
    class={cn(
      'accordion-title group flex cursor-pointer items-center justify-between gap-x-3 font-medium text-gray-950 dark:text-white',
      style === 'none-open' && 'cursor-default'
    )}
  >
    {blok.title}
    {
      style !== 'none-open' && (
        <div class="relative size-6 shrink-0">
          <svg
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            class="absolute top-1/2 left-1/2 size-6 -translate-x-1/2 -translate-y-1/2 rotate-90 text-gray-400 transition duration-300 group-hover:text-gray-950 dark:text-gray-200 dark:group-hover/summary:text-white [.accordion-open_&]:scale-x-0"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M6 12a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 12"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            class="size-6 text-gray-400 transition duration-300 group-hover:text-gray-950 dark:text-gray-200 dark:group-hover/summary:text-white"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M6 12a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 12"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      )
    }
  </h4>
  <div
    class={cn(
      'content-wrapper overflow-hidden',
      ['line', 'none', 'bg-1st-open'].includes(style) && 'h-0'
    )}
  >
    <div class="content pt-4 text-justify text-pretty text-gray-600 dark:text-gray-400">
      <Richtext
        text={blok.text}
        class="accordion-text space-y-4 [&_li]:mt-4 [&_li]:marker:text-gray-700 [&_ul]:list-outside [&_ul]:list-disc [&_ul]:pl-5"
      />
    </div>
  </div>
</div>
