---
import GoogleLogo from '@/icons/logo-google-small.svg';
import Star from '@/icons/star.svg';
---

<div class="flex items-center justify-center">
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.google.com/maps/place/Hexium/@43.6013338,3.8980905,1076m/data=!3m1!1e3!4m8!3m7!1s0x12b6affbb9085ba5:0xda756e5fd39c4148!8m2!3d43.6013299!4d3.9006708!9m1!1b1!16s%2Fg%2F11q94lv764"
    class="inline-flex gap-x-4 rounded-lg bg-white px-6 py-4 shadow-[0_1px_5px_-4px_rgba(19,19,22,0.7),0_4px_8px_rgba(32,42,54,0.05)] ring-1 ring-gray-900/7.5 dark:bg-gray-900 dark:shadow-[0_-1px_rgba(255,255,255,0.06),0_4px_8px_rgba(0,0,0,0.05),0_0_0_1px_rgba(255,255,255,0.1),0_1px_6px_-4px_#000]"
  >
    <div class="flex items-center justify-center rounded-xl">
      <GoogleLogo class="h-auto w-[45px]" />
    </div>
    <div class="flex flex-col justify-between">
      <div class="flex items-center">
        <div class="mr-2 text-xl leading-none font-medium dark:text-white">
          4.95 <span class="text-xs text-gray-600 dark:text-gray-400">/ 5</span>
        </div>
        <div class="relative -top-1 flex items-center gap-x-[5px] text-yellow-500">
          <Star class="size-4" />
          <Star class="size-4" />
          <Star class="size-4" />
          <Star class="size-4" />
          <Star class="size-4" />
        </div>
      </div>
      <div class="text-sm leading-none text-gray-600 dark:text-gray-400">
        Basé sur +30 avis de clients
      </div>
    </div>
  </a>
</div>
