---
import GoogleLogo from '@/icons/google-logo.svg';
import Star from '@/icons/star.svg';
---

<div>
  <div class="flex items-end justify-center gap-x-5">
    <div class="relative top-4">
      <svg class="h-[55px] w-auto" viewBox="0 0 20 37" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8.75439 8.01632C8.75439 8.01632 10.9687 7.28306 11.6181 4.66226C12.269 2.04143 11.0107 0.0498047 11.0107 0.0498047C11.0107 0.0498047 8.44589 0.971973 7.81112 3.52876C7.17801 6.08396 8.75439 8.01632 8.75439 8.01632ZM5.56445 12.9089C5.56445 12.9089 6.99545 11.0805 6.06999 8.54141C5.14128 6.00382 2.97859 5.04002 2.97859 5.04002C2.97859 5.04002 1.3602 7.21894 2.26469 9.69252C3.16756 12.1676 5.56445 12.9089 5.56445 12.9089ZM9.53607 14.2072C9.53607 14.2072 12.038 14.0087 13.4706 11.7913C14.9032 9.57552 13.8082 7.09717 13.8082 7.09717C13.8082 7.09717 11.4856 7.56467 10.0142 9.83969C8.54438 12.1131 9.53607 14.2072 9.53607 14.2072ZM9.88995 21.5319C9.88995 21.5319 8.63177 19.5819 9.78979 17.1372C10.9479 14.6925 13.1881 13.9304 13.1881 13.9304C13.1881 13.9304 14.5997 16.2454 13.4739 18.6293C12.3466 21.01 9.88995 21.5319 9.88995 21.5319ZM15.4444 19.1063C15.4444 19.1063 13.2849 20.0764 12.3643 22.6156C11.4436 25.1596 12.8795 26.9815 12.8795 26.9815C12.8795 26.9815 15.2732 26.2339 16.1712 23.7571C17.0676 21.2804 15.4444 19.1063 15.4444 19.1063ZM19.4613 28.4497C19.3208 31.0769 17.2436 32.4778 17.2436 32.4778C17.2436 32.4778 15.3394 31.1394 15.4815 28.4449C15.6253 25.7489 17.4116 24.2039 17.4116 24.2039C17.4116 24.2039 19.6002 25.8209 19.4613 28.4497ZM4.7456 14.1625C6.38498 16.3159 5.56287 18.482 5.56287 18.482C5.56287 18.482 3.0513 18.4756 1.4523 16.3735C-0.146703 14.273 0.751324 11.7179 0.751324 11.7179C0.751324 11.7179 3.10299 12.0076 4.7456 14.1625ZM7.39776 24.1976C7.39776 24.1976 7.71273 21.905 5.6324 20.1663C3.54886 18.426 1.19073 18.663 1.19073 18.663C1.19073 18.663 0.887081 21.3526 2.91572 23.0481C4.94758 24.742 7.39776 24.1976 7.39776 24.1976ZM7.27978 25.6127C9.79621 26.6438 10.1919 28.9235 10.1919 28.9235C10.1919 28.9235 8.02439 30.1787 5.57257 29.1749C3.12076 28.1663 2.58777 25.5118 2.58777 25.5118C2.58777 25.5118 4.76176 24.5785 7.27978 25.6127ZM11.413 30.8862C8.78997 30.1594 6.74196 31.3426 6.74196 31.3426C6.74196 31.3426 7.58994 33.9137 10.1451 34.6229C12.7035 35.3322 14.703 33.8289 14.703 33.8289C14.703 33.8289 14.036 31.6115 11.413 30.8862ZM7.8612 9.01067L9.02736 9.57899C8.79152 10.0577 3.45185 21.4712 19.5 35.0716L18.6569 36.0498C1.80116 21.7674 7.79983 9.13716 7.8612 9.01067Z"
          fill="#B8C0C6"></path>
      </svg>
    </div>
    <div class="flex flex-col items-center justify-center gap-y-1">
      <div class="text-center text-base/[1.5rem] text-gray-600">
        <div class="inline-flex items-center">
          <span class="font-bold text-gray-950">4.9</span>/5 sur
          <GoogleLogo class="ml-1.5 h-[18px] w-auto" />
        </div>
        <div>par <span class="font-bold text-gray-950">+30</span> entreprises</div>
      </div>
    </div>
    <div class="relative top-4">
      <svg class="h-[55px] w-auto" viewBox="0 0 20 37" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11.2456 8.01632C11.2456 8.01632 9.03126 7.28306 8.38194 4.66226C7.73101 2.04143 8.98926 0.0498047 8.98926 0.0498047C8.98926 0.0498047 11.5541 0.971973 12.1889 3.52876C12.822 6.08396 11.2456 8.01632 11.2456 8.01632ZM14.4356 12.9089C14.4356 12.9089 13.0045 11.0805 13.93 8.54141C14.8587 6.00382 17.0214 5.04002 17.0214 5.04002C17.0214 5.04002 18.6398 7.21894 17.7353 9.69252C16.8324 12.1676 14.4356 12.9089 14.4356 12.9089ZM10.4639 14.2072C10.4639 14.2072 7.96205 14.0087 6.52944 11.7913C5.09677 9.57552 6.19182 7.09717 6.19182 7.09717C6.19182 7.09717 8.51442 7.56467 9.98582 9.83969C11.4556 12.1131 10.4639 14.2072 10.4639 14.2072ZM10.11 21.5319C10.11 21.5319 11.3682 19.5819 10.2102 17.1372C9.05212 14.6925 6.81192 13.9304 6.81192 13.9304C6.81192 13.9304 5.40028 16.2454 6.52605 18.6293C7.65343 21.01 10.11 21.5319 10.11 21.5319ZM4.55563 19.1063C4.55563 19.1063 6.71509 20.0764 7.63572 22.6156C8.55636 25.1596 7.12048 26.9815 7.12048 26.9815C7.12048 26.9815 4.72684 26.2339 3.82878 23.7571C2.93238 21.2804 4.55563 19.1063 4.55563 19.1063ZM0.538734 28.4497C0.679235 31.0769 2.75636 32.4778 2.75636 32.4778C2.75636 32.4778 4.6606 31.1394 4.5185 28.4449C4.37473 25.7489 2.58835 24.2039 2.58835 24.2039C2.58835 24.2039 0.399841 25.8209 0.538734 28.4497ZM15.2544 14.1625C13.615 16.3159 14.4371 18.482 14.4371 18.482C14.4371 18.482 16.9487 18.4756 18.5477 16.3735C20.1467 14.273 19.2487 11.7179 19.2487 11.7179C19.2487 11.7179 16.897 12.0076 15.2544 14.1625ZM12.6022 24.1976C12.6022 24.1976 12.2873 21.905 14.3676 20.1663C16.4511 18.426 18.8093 18.663 18.8093 18.663C18.8093 18.663 19.1129 21.3526 17.0843 23.0481C15.0524 24.742 12.6022 24.1976 12.6022 24.1976ZM12.7202 25.6127C10.2038 26.6438 9.80807 28.9235 9.80807 28.9235C9.80807 28.9235 11.9756 30.1787 14.4274 29.1749C16.8792 28.1663 17.4122 25.5118 17.4122 25.5118C17.4122 25.5118 15.2382 24.5785 12.7202 25.6127ZM8.58702 30.8862C11.21 30.1594 13.258 31.3426 13.258 31.3426C13.258 31.3426 12.4101 33.9137 9.85489 34.6229C7.29651 35.3322 5.29697 33.8289 5.29697 33.8289C5.29697 33.8289 5.964 31.6115 8.58702 30.8862ZM12.1388 9.01067L10.9726 9.57899C11.2085 10.0577 16.5482 21.4712 0.5 35.0716L1.34311 36.0498C18.1988 21.7674 12.2002 9.13716 12.1388 9.01067Z"
          fill="#B8C0C6"></path>
      </svg>
    </div>
  </div>
  <div class="mt-1 flex justify-center">
    <div class="relative flex items-center gap-x-1 text-yellow-400">
      <Star class="size-3.5" />
      <Star class="size-3.5" />
      <Star class="size-3.5" />
      <Star class="size-3.5" />
      <Star class="size-3.5" />
    </div>
  </div>
</div>
