---

---

<div
  class="group/card relative rounded-lg p-6 shadow-[0_1px_5px_-4px_rgba(19,19,22,0.7),0_4px_8px_rgba(32,42,54,0.05)] ring-1 ring-gray-900/7.5 transition-shadow hover:shadow-[0_1px_7px_-4px_rgba(19,19,22,0.8),0_4px_11px_rgba(32,42,54,0.05)] hover:ring-gray-900/12.5 dark:bg-gray-900 dark:shadow-[0_-1px_rgba(255,255,255,0.06),0_4px_8px_rgba(0,0,0,0.05),0_0_0_1px_rgba(255,255,255,0.1),0_1px_6px_-4px_#000]"
  data-search-ignore=""
>
  <div
    class="pointer-events-none absolute inset-1.5 rounded-sm border border-gray-50 opacity-0 transition-opacity group-hover/card:opacity-100 dark:border-white/5"
  >
  </div><div
    aria-hidden="true"
    class="mb-6 text-gray-400 transition group-hover/card:text-gray-950 dark:text-gray-500 dark:group-hover/card:text-gray-300 [&>svg]:h-8 [&>svg]:w-auto"
  >
    <svg viewBox="0 0 32 32" fill="none"
      ><g fill="currentColor"
        ><path
          fill-opacity=".15"
          fill-rule="evenodd"
          d="M16 31.25c8.422 0 15.25-6.828 15.25-15.25S24.422.75 16 .75.75 7.578.75 16 7.578 31.25 16 31.25Zm-5.25-21.5L23.25 16l-12.5 6.25V9.75Z"
          clip-rule="evenodd"></path><path
          d="m23.25 16 .335.67a.75.75 0 0 0 0-1.34l-.335.67Zm-12.5-6.25.335-.67A.75.75 0 0 0 10 9.75h.75Zm0 12.5H10a.75.75 0 0 0 1.085.67l-.335-.67ZM30.5 16c0 8.008-6.492 14.5-14.5 14.5V32c8.837 0 16-7.163 16-16h-1.5ZM16 1.5c8.008 0 14.5 6.492 14.5 14.5H32c0-8.837-7.163-16-16-16v1.5ZM1.5 16C1.5 7.992 7.992 1.5 16 1.5V0C7.163 0 0 7.163 0 16h1.5ZM16 30.5C7.992 30.5 1.5 24.008 1.5 16H0c0 8.837 7.163 16 16 16v-1.5Zm7.585-15.17-12.5-6.25-.67 1.34 12.5 6.25.67-1.34Zm-12.5 7.59 12.5-6.25-.67-1.34-12.5 6.25.67 1.34ZM10 9.75v12.5h1.5V9.75H10Z"
        ></path></g
      ></svg>
  </div><div>
    <h2 class="mb-2 text-[0.875rem]/5 font-medium text-gray-950 dark:text-white">
      <a href="/docs/quickstarts/overview"
        >Quickstarts &amp; <span class="whitespace-nowrap"
          >Tutorials<svg
            viewBox="0 0 16 16"
            fill="none"
            aria-hidden="true"
            class="relative top-[0.1875rem] ml-0.5 inline-block size-4 -translate-x-2 stroke-gray-400 align-top opacity-0 transition duration-300 ease-[cubic-bezier(0.175,0.885,0.32,1.275)] group-hover/card:translate-x-0 group-hover/card:stroke-gray-950 group-hover/card:opacity-100 dark:group-hover/card:stroke-white"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M6.75 4.75 10.25 8l-3.5 3.25"></path></svg
          ></span
        ></a>
    </h2><div class="text-[0.875rem]/5 text-gray-600 dark:text-gray-400">
      <p>
        Explore our end-to-end tutorials and getting started guides for different application stacks
        using Clerk.
      </p>
    </div>
  </div>
</div>
