---
import ContactForm from '@/components/contact-form.astro';
import DotLineHorizontal from '@/components/effects/dot-line-horizontal.astro';
import DotLineVerticalLeft from '@/components/effects/dot-line-vertical-left.astro';
import DotLineVerticalRight from '@/components/effects/dot-line-vertical-right.astro';
import storyblokService from '@/services/storyblok';
import type { TeamStoryblok } from '@/types/storyblok';

const userStory = await storyblokService.getStory<TeamStoryblok>('team/anthony');

const user = userStory.story.content;
---

<div
  class="relative isolate mx-auto w-full max-w-lg rounded-xl bg-white shadow-[0_10px_32px_rgba(34,42,53,0.15),0_1px_1px_rgba(0,0,0,0.05),0_4px_6px_rgba(34,42,53,0.08),0_24px_68px_rgba(47,48,55,0.1)] ring-1 ring-gray-950/5"
>
  <div
    class="absolute -inset-x-20 bottom-[calc(-93/16*1rem)] -z-10 h-[calc(440/16*1rem)] bg-gradient-to-t from-gray-50 from-55% to-95%"
  >
  </div>
  <DotLineHorizontal />
  <DotLineVerticalLeft />
  <DotLineVerticalRight />
  <div class="px-6 py-10 md:px-10">
    <ContactForm light />
  </div>
</div>
