---
import testimonialService from '@/services/testimonial';
import type { FeaturedTestimonialsStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: FeaturedTestimonialsStoryblok;
}

const { blok } = Astro.props as AstroProps;

const testimonials = await testimonialService.getTestimonialsByUuids(blok.testimonials as string[]);

// Cover
// <Image
//             sizes="80vw"
//             {...parseStoryblokImage(blok.cover)}
//           />

// Cover
// <Image
//             sizes="15vw"
//             {...parseStoryblokImage(blok.cover)}
//           />
---

<div {...storyblokEditable(blok)}></div>
