---
import type { HeroAsideTechnologyLogoStoryblok } from '@/types/storyblok';

interface AstroProps {
  blok: HeroAsideTechnologyLogoStoryblok;
}

const { blok } = Astro.props as AstroProps;

const logos = {
  astro: () => import('@/components/effects/dots-logo/hero-dots-logo-astro.astro'),
  contentful: () => import('@/components/effects/dots-logo/hero-dots-logo-contentful.astro'),
  drupal: () => import('@/components/effects/dots-logo/hero-dots-logo-drupal.astro'),
  graphql: () => import('@/components/effects/dots-logo/hero-dots-logo-graphql.astro'),
  javascript: () => import('@/components/effects/dots-logo/hero-dots-logo-javascript.astro'),
  laravel: () => import('@/components/effects/dots-logo/hero-dots-logo-laravel.astro'),
  nest: () => import('@/components/effects/dots-logo/hero-dots-logo-nest.astro'),
  next: () => import('@/components/effects/dots-logo/hero-dots-logo-next.astro'),
  node: () => import('@/components/effects/dots-logo/hero-dots-logo-node.astro'),
  react: () => import('@/components/effects/dots-logo/hero-dots-logo-react.astro'),
  nuxt: () => import('@/components/effects/dots-logo/hero-dots-logo-nuxt.astro'),
  php: () => import('@/components/effects/dots-logo/hero-dots-logo-php.astro'),
  sanity: () => import('@/components/effects/dots-logo/hero-dots-logo-sanity.astro'),
  storyblok: () => import('@/components/effects/dots-logo/hero-dots-logo-storyblok.astro'),
  strapi: () => import('@/components/effects/dots-logo/hero-dots-logo-strapi.astro'),
  symfony: () => import('@/components/effects/dots-logo/hero-dots-logo-symfony.astro'),
  typescript: () => import('@/components/effects/dots-logo/hero-dots-logo-typescript.astro'),
  vue: () => import('@/components/effects/dots-logo/hero-dots-logo-vue.astro'),
};

let LogoComponent: any = null;
if (blok.technology && logos[blok.technology as keyof typeof logos]) {
  const logoImport = await logos[blok.technology as keyof typeof logos]();
  LogoComponent = logoImport.default;
}
---

<div
  class="relative flex min-h-[350px] flex-shrink-0 items-center justify-center lg:min-h-[500px] lg:min-w-[500px]"
>
  {LogoComponent && <LogoComponent />}
</div>
