---
import type { SpacerStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: SpacerStoryblok;
}

const space: Record<string, string> = {
  '1': 'h-1',
  '2': 'h-2',
  '3': 'h-3',
  '4': 'h-4',
  '5': 'h-5',
  '6': 'h-6',
  '7': 'h-7',
  '8': 'h-8',
  '9': 'h-9',
  '10': 'h-10',
  '12': 'h-12',
  '14': 'h-14',
  '16': 'h-16',
  '18': 'h-18',
  '20': 'h-20',
};

const spaceSm: Record<string, string> = {
  '1': 'sm:h-1',
  '2': 'sm:h-2',
  '3': 'sm:h-3',
  '4': 'sm:h-4',
  '5': 'sm:h-5',
  '6': 'sm:h-6',
  '7': 'sm:h-7',
  '8': 'sm:h-8',
  '9': 'sm:h-9',
  '10': 'sm:h-10',
  '12': 'sm:h-12',
  '14': 'sm:h-14',
  '16': 'sm:h-16',
  '18': 'sm:h-18',
  '20': 'sm:h-20',
};

const spaceMd: Record<string, string> = {
  '1': 'md:h-1',
  '2': 'md:h-2',
  '3': 'md:h-3',
  '4': 'md:h-4',
  '5': 'md:h-5',
  '6': 'md:h-6',
  '7': 'md:h-7',
  '8': 'md:h-8',
  '9': 'md:h-9',
  '10': 'md:h-10',
  '12': 'md:h-12',
  '14': 'md:h-14',
  '16': 'md:h-16',
  '18': 'md:h-18',
  '20': 'md:h-20',
};

const spaceLg: Record<string, string> = {
  '1': 'lg:h-1',
  '2': 'lg:h-2',
  '3': 'lg:h-3',
  '4': 'lg:h-4',
  '5': 'lg:h-5',
  '6': 'lg:h-6',
  '7': 'lg:h-7',
  '8': 'lg:h-8',
  '9': 'lg:h-9',
  '10': 'lg:h-10',
  '12': 'lg:h-12',
  '14': 'lg:h-14',
  '16': 'lg:h-16',
  '18': 'lg:h-18',
  '20': 'lg:h-20',
};

const { blok } = Astro.props as AstroProps;
---

<div
  {...storyblokEditable(blok)}
  class:list={[
    space[blok.space!],
    blok.space! !== blok.smSpace && spaceSm[blok.smSpace!],
    blok.space! !== blok.mdSpace && spaceMd[blok.mdSpace!],
    blok.space! !== blok.lgSpace && spaceLg[blok.lgSpace!],
  ]}
  aria-hidden="true"
>
</div>
