---
import { cn } from '@/lib/utils';
import hexRgb from 'hex-rgb';

interface AstroProps {
  sizeClasses?: string;
}

const { sizeClasses = 'size-[500px]' } = Astro.props as AstroProps;

const color = hexRgb('#EEE', { format: 'array' });
const color2 = hexRgb('#000', { format: 'array' });
---

<div class={cn('relative', sizeClasses)}>
  <div
    class={cn('absolute', sizeClasses)}
    style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20viewBox%3D%220%200%201000%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%201000C776.142%201000%201000%20776.142%201000%20500C1000%20223.858%20776.142%200%20500%200C223.858%200%200%20223.858%200%20500C0%20776.142%20223.858%201000%20500%201000Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
  >
    <div class="absolute inset-0">
      <div id="symfony-dots-container" class={cn('relative', sizeClasses)} data-color={color}></div>
    </div>
  </div>
  <div
    class={cn('absolute', sizeClasses)}
    style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20viewBox%3D%220%200%201000%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M717.6%20184.756C666.873%20186.526%20622.6%20214.483%20589.643%20253.155C553.151%20295.557%20528.873%20345.85%20511.381%20397.186C480.092%20371.541%20455.951%20338.342%20405.752%20323.866C366.951%20312.725%20326.198%20317.327%20288.721%20345.248C270.967%20358.51%20258.737%20378.557%20252.92%20397.401C237.862%20446.373%20268.752%20489.956%20282.783%20505.604L313.459%20538.479C319.783%20544.924%20335.014%20561.741%20327.569%20585.85C319.522%20612.061%20287.92%20629.034%20255.506%20619.034C241.03%20614.62%20220.233%20603.834%20224.889%20588.647C226.815%20582.436%20231.26%20577.788%20233.643%20572.416C235.83%20567.803%20236.873%20564.342%20237.537%20562.311C243.459%20542.975%20235.369%20517.819%20214.658%20511.432C195.338%20505.51%20175.569%20510.202%20167.905%20535.081C159.213%20563.342%20172.737%20614.635%20245.182%20636.971C330.061%20663.049%20401.862%20616.834%20412.045%20556.557C418.459%20518.803%20401.412%20490.756%20370.182%20454.682L344.737%20426.541C329.322%20411.143%20324.03%20384.897%20339.983%20364.725C353.444%20347.709%20372.615%20340.448%20404.014%20348.987C449.846%20361.432%20470.276%20393.233%20504.365%20418.881C490.291%20465.049%20481.092%20511.389%20472.764%20552.944L467.69%20583.924C443.322%20711.741%20424.721%20781.924%20376.381%20822.217C366.643%20829.143%20352.721%20839.51%20331.737%20840.233C320.737%20840.573%20317.182%20833.006%20317.03%20829.709C316.768%20821.987%20323.276%20818.448%20327.6%20814.971C334.061%20811.448%20343.83%20805.604%20343.166%20786.881C342.463%20764.756%20324.135%20745.573%20297.643%20746.452C277.799%20747.127%20247.553%20765.803%20248.69%20799.987C249.873%20835.295%20282.783%20861.756%20332.401%20860.081C358.924%20859.17%20418.151%20848.373%20476.522%20778.987C544.459%20699.448%20563.459%20608.264%20577.752%20541.526L593.705%20453.416C602.569%20454.479%20612.045%20455.186%20622.354%20455.432C706.967%20457.217%20749.291%20413.389%20749.92%20381.51C750.338%20362.217%20737.26%20343.233%20718.951%20343.663C705.846%20344.034%20689.381%20352.756%20685.428%20370.881C681.569%20388.663%20712.354%20404.709%20688.291%20420.295C671.198%20431.358%20640.553%20439.155%20597.397%20432.819L605.244%20389.448C621.26%20307.202%20641.014%20206.034%20715.951%20203.573C721.412%20203.295%20741.397%20203.819%20741.862%20217.034C741.998%20221.448%20740.905%20222.573%20735.737%20232.678C730.475%20240.557%20728.49%20247.264%20728.737%20254.971C729.459%20275.971%20745.428%20289.772%20768.522%20288.94C799.444%20287.94%20808.338%20257.834%20807.83%20242.373C806.58%20206.045%20768.295%20183.096%20717.6%20184.756Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
  >
    <div class="absolute inset-0">
      <div
        id="symfony-inner-dots-container"
        class={cn('relative', sizeClasses)}
        data-color={color2}
      >
      </div>
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';

  document.addEventListener('astro:page-load', () => {
    const color = document.querySelector('#symfony-dots-container')?.getAttribute('data-color');
    const colorArray = color?.split(',').map(Number);
    new DotsBlock(document.querySelector('#symfony-dots-container') as HTMLElement, [colorArray!]);

    const color2 = document
      .querySelector('#symfony-inner-dots-container')
      ?.getAttribute('data-color');
    const colorArray2 = color2?.split(',').map(Number);
    new DotsBlock(document.querySelector('#symfony-inner-dots-container') as HTMLElement, [
      colorArray2!,
    ]);
  });
</script>
