---
import hexRgb from 'hex-rgb';

const colorLogo = hexRgb('#FF2D20', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22971%22%20height%3D%221000%22%20viewBox%3D%220%200%20971%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M970.452%20226.226C970.812%20227.559%20970.997%20228.934%20971%20230.315V444.962C971%20447.717%20970.273%20450.423%20968.893%20452.807C967.513%20455.191%20965.528%20457.168%20963.139%20458.539L783.054%20562.263V767.853C783.054%20773.448%20780.081%20778.612%20775.232%20781.43L399.32%20997.916C398.459%20998.405%20397.521%20998.718%20396.582%20999.05C396.23%20999.168%20395.897%20999.383%20395.526%20999.481C392.898%201000.17%20390.136%201000.17%20387.508%20999.481C387.078%20999.363%20386.687%20999.129%20386.276%20998.972C385.416%20998.659%20384.516%20998.385%20383.695%20997.916L7.86124%20781.43C5.47368%20780.057%203.48986%20778.08%202.10972%20775.696C0.729578%20773.313%200.00189177%20770.607%200%20767.853L0%20123.911C0%20122.502%200.195553%20121.133%200.547549%20119.802C0.664881%20119.353%200.938655%20118.942%201.0951%20118.492C1.38843%20117.67%201.6622%20116.829%202.09242%20116.066C2.38575%20115.557%202.81597%20115.146%203.16796%20114.677C3.61773%20114.051%204.0284%20113.405%204.55639%20112.858C5.00616%20112.408%205.59282%20112.075%206.10126%20111.684C6.66837%20111.214%207.1768%20110.706%207.82213%20110.334L195.768%202.09074C198.148%200.720938%20200.845%200%20203.59%200C206.336%200%20209.033%200.720938%20211.413%202.09074L399.339%20110.334H399.378C400.004%20110.725%20400.532%20111.214%20401.099%20111.664C401.608%20112.055%20402.175%20112.408%20402.625%20112.838C403.172%20113.405%20403.563%20114.051%20404.033%20114.677C404.365%20115.146%20404.815%20115.557%20405.089%20116.066C405.538%20116.848%20405.793%20117.67%20406.105%20118.492C406.262%20118.942%20406.536%20119.353%20406.653%20119.822C407.013%20121.155%20407.197%20122.53%20407.2%20123.911V526.11L563.799%20435.904V230.295C563.799%20228.926%20563.995%20227.537%20564.347%20226.226C564.484%20225.757%20564.738%20225.346%20564.895%20224.896C565.207%20224.074%20565.481%20223.233%20565.911%20222.47C566.205%20221.961%20566.635%20221.551%20566.967%20221.081C567.437%20220.455%20567.828%20219.809%20568.375%20219.262C568.825%20218.812%20569.392%20218.479%20569.901%20218.088C570.487%20217.618%20570.996%20217.11%20571.622%20216.738L759.587%20108.495C761.966%20107.123%20764.664%20106.401%20767.409%20106.401C770.155%20106.401%20772.853%20107.123%20775.232%20108.495L963.158%20216.738C963.823%20217.129%20964.332%20217.618%20964.918%20218.068C965.407%20218.46%20965.974%20218.812%20966.424%20219.242C966.971%20219.809%20967.363%20220.455%20967.832%20221.081C968.184%20221.551%20968.614%20221.961%20968.888%20222.47C969.338%20223.233%20969.592%20224.074%20969.905%20224.896C970.081%20225.346%20970.335%20225.757%20970.452%20226.226ZM939.672%20435.904V257.41L873.908%20295.284L783.054%20347.616V526.11L939.692%20435.904H939.672ZM751.746%20758.795V580.183L662.378%20631.243L407.181%20776.95V957.244L751.746%20758.795ZM31.3276%20151.006V758.795L375.853%20957.224V776.969L195.866%20675.065L195.807%20675.025L195.729%20674.986C195.123%20674.634%20194.615%20674.125%20194.047%20673.695C193.559%20673.304%20192.991%20672.991%20192.561%20672.56L192.522%20672.502C192.014%20672.013%20191.662%20671.406%20191.231%20670.858C190.84%20670.33%20190.371%20669.88%20190.058%20669.332L190.039%20669.274C189.687%20668.687%20189.472%20667.983%20189.217%20667.317C188.963%20666.731%20188.631%20666.183%20188.474%20665.557C188.279%20664.813%20188.24%20664.011%20188.161%20663.248C188.083%20662.661%20187.927%20662.074%20187.927%20661.488V241.212L97.0922%20188.861L31.3276%20151.006ZM203.61%2033.744L47.0305%20123.911L203.571%20214.077L360.131%20123.891L203.571%2033.744H203.61ZM285.038%20596.46L375.873%20544.148V151.006L310.108%20188.88L219.254%20241.212V634.353L285.038%20596.46ZM767.409%20140.148L610.85%20230.315L767.409%20320.482L923.95%20230.295L767.409%20140.148ZM751.746%20347.616L660.892%20295.284L595.127%20257.41V435.904L685.962%20488.216L751.746%20526.11V347.616ZM391.498%20749.855L621.136%20618.703L735.925%20553.166L579.483%20463.058L399.359%20566.802L235.192%20661.351L391.498%20749.855Z%22%20fill%3D%22%23FF2D20%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div
      id="laravel-dots-container"
      class="relative h-[500px] w-[500px] bg-gray-950"
      data-color={colorLogo}
    >
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const logoColor = document.querySelector('#laravel-dots-container')?.getAttribute('data-color');
    const logoColorRgb = logoColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#laravel-dots-container') as HTMLElement, [
      logoColorRgb!,
    ]);
  });
</script>
