---
import { cn } from '@/lib/utils';
import hexRgb from 'hex-rgb';

interface AstroProps {
  sizeClasses?: string;
}

const { sizeClasses = 'size-[500px]' } = Astro.props as AstroProps;

const color = hexRgb('#009CDE', { format: 'array' });
---

<div
  class={cn('absolute', sizeClasses)}
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22788%22%20height%3D%221000%22%20viewBox%3D%220%200%20788%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M700.966%20368.964C700.365%20367.862%20699.864%20367.261%20698.763%20366.159C644.29%20304.949%20566.987%20218.193%20511.312%20156.382C494.089%20138.048%20476.866%20119.615%20460.744%20100.781C456.839%2096.3735%20453.535%2091.8654%20449.63%2087.4574C446.325%2084.1515%20444.623%2081.8473%20444.623%2081.8473H445.224C426.298%2059.6073%20411.278%2034.5622%20400.764%207.81407L397.96%201.70307C397.96%201.10198%20397.36%201.10198%20396.859%200.601082C396.258%200.601082%20395.157%200%20394.656%200H393.955C392.854%200%20392.253%200.601082%20391.752%200.601082C391.151%201.20216%20391.151%201.20216%20390.651%201.70307L387.847%207.81407C376.732%2034.5622%20361.712%2059.5071%20343.387%2081.8473H343.988C343.988%2081.8473%20342.286%2084.0513%20338.982%2087.4574C335.076%2091.8654%20331.772%2096.3735%20327.867%20100.781C311.144%20119.715%20294.522%20138.048%20277.299%20156.382C221.725%20218.093%20143.82%20304.949%2089.3474%20366.159C88.7466%20367.261%2088.246%20367.862%2087.1445%20368.964C-118.731%20643.258%20104.768%20866.961%20104.768%20866.961H104.167C170.356%20943.699%20264.282%20990.984%20365.016%20998.297C373.928%20999.399%20383.341%201000%20393.354%201000H393.955C403.368%201000%20412.88%20999.399%20422.293%20998.297C523.528%20991.084%20616.953%20943.799%20683.142%20866.961H682.541C683.142%20866.961%20906.741%20643.258%20700.966%20368.964ZM222.125%20562.012L217.118%20569.826L216.518%20570.427C178.667%20616.009%20156.437%20664.997%20149.228%20713.384C148.126%20719.495%20142.519%20723.402%20137.011%20722.3C133.106%20721.699%20130.302%20718.994%20128.7%20715.588C118.687%20692.246%20111.978%20667.702%20108.673%20642.657C95.8561%20554.198%20122.592%20476.959%20179.268%20410.739C202.098%20384.592%20224.829%20358.445%20247.659%20332.298C251.565%20327.89%20258.273%20327.289%20262.679%20331.196C263.28%20331.797%20263.28%20331.797%20263.781%20332.298C282.105%20353.436%20306.037%20380.685%20332.773%20411.841C336.078%20415.748%20336.078%20421.859%20332.773%20426.267C296.024%20470.246%20257.172%20516.93%20222.125%20561.511V562.012ZM537.948%20791.224C516.819%20846.824%20475.064%20880.285%20416.185%20889.701C332.172%20902.525%20253.767%20845.221%20241.05%20761.17C241.05%20760.068%20241.05%20759.467%20240.45%20758.365C233.741%20711.08%20248.26%20669.305%20278.801%20633.741C314.349%20591.966%20392.854%20495.191%20393.955%20493.488C395.657%20495.191%20479.069%20599.179%20510.211%20635.945C549.663%20682.228%20559.176%20735.023%20537.948%20791.224ZM662.014%20703.867C661.413%20705.57%20660.312%20707.774%20659.811%20709.477C657.608%20715.087%20651.5%20717.792%20645.892%20715.588C642.588%20713.885%20639.784%20711.18%20639.183%20707.273C631.373%20660.489%20609.143%20613.805%20572.995%20569.826L572.394%20569.225L569.089%20564.216L566.886%20561.411C537.948%20524.644%20385.043%20345.522%20318.254%20267.081C314.949%20263.174%20314.949%20257.063%20318.254%20252.655C340.483%20228.211%20362.713%20203.667%20384.442%20178.622C388.348%20174.214%20395.057%20174.214%20399.462%20178.02L400.063%20178.622C410.077%20189.241%20419.489%20199.76%20429.002%20210.88C489.583%20278.802%20550.765%20345.522%20609.744%20413.945C684.244%20500.301%20701.467%20599.279%20662.014%20703.867Z%22%20fill%3D%22%23009CDE%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div id="drupal-dots-container" class={cn('relative', sizeClasses)} data-color={color}></div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const colorDrupal = document
      .querySelector('#drupal-dots-container')
      ?.getAttribute('data-color');
    const colorDrupalRgb = colorDrupal?.split(',').map(Number);
    new DotsBlock(document.querySelector('#drupal-dots-container') as HTMLElement, [
      colorDrupalRgb!,
    ]);
  });
</script>
