---
import { cn } from '@/lib/utils';
import hexRgb from 'hex-rgb';

interface AstroProps {
  sizeClasses?: string;
}

const { sizeClasses = 'size-[500px]' } = Astro.props as AstroProps;

const colorOuter = hexRgb('#F37468', { format: 'array' });
const colorInner = hexRgb('#F04A39', { format: 'array' });
---

<div class={cn('relative', sizeClasses)}>
  <div
    class={cn('absolute', sizeClasses)}
    style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22761%22%20height%3D%221000%22%20viewBox%3D%220%200%20761%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M593.794%20662.905C668.547%20710.86%20702.398%20778.561%20702.398%20875.881C638.928%20956.276%20530.324%201000%20401.975%201000C186.178%201000%2032.4401%20892.807%200%20708.039H207.334C234.133%20792.666%20304.654%20832.158%20400.564%20832.158C514.81%20833.568%20592.384%20771.509%20593.794%20662.905ZM188.999%20327.221C118.477%20284.908%2077.574%20208.745%2080.3949%20126.939C141.044%2047.9549%20245.416%200%20372.355%200C593.794%200%20720.733%20117.066%20753.173%20280.677H552.891C530.324%20215.797%20475.317%20165.021%20375.176%20165.021C266.573%20166.432%20193.23%20228.491%20188.999%20327.221Z%22%20fill%3D%22%23F37368%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
  >
    <div class="absolute inset-0">
      <div id="sanity-dots-container" class={cn('relative', sizeClasses)} data-color={colorOuter}>
      </div>
    </div>
  </div>
  <div
    class={cn('absolute', sizeClasses)}
    style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22761%22%20height%3D%221000%22%20viewBox%3D%220%200%20761%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M80.398%20128.348C80.398%20262.339%20163.614%20342.734%20330.045%20385.047L506.35%20425.95C664.319%20462.621%20760.229%20552.889%20760.229%20699.575C761.639%20763.044%20740.483%20825.104%20702.401%20875.879C702.401%20729.194%20626.237%20650.209%20444.291%20602.255L270.807%20562.762C131.174%20531.733%2023.9805%20456.98%2023.9805%20297.6C23.9805%20236.951%2043.7266%20176.303%2080.398%20128.348Z%22%20fill%3D%22%23F04939%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
  >
    <div class="absolute inset-0">
      <div
        id="sanity-inner-dots-container"
        class={cn('relative', sizeClasses)}
        data-color={colorInner}
      >
      </div>
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const outerColor = document.querySelector('#sanity-dots-container')?.getAttribute('data-color');
    const outerColorRgb = outerColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#sanity-dots-container') as HTMLElement, [
      outerColorRgb!,
    ]);

    const innerColor = document
      .querySelector('#sanity-inner-dots-container')
      ?.getAttribute('data-color');
    const innerColorRgb = innerColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#sanity-inner-dots-container') as HTMLElement, [
      innerColorRgb!,
    ]);
  });
</script>
