---
import hexRgb from 'hex-rgb';

const color = hexRgb('#E536AB', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22890%22%20height%3D%221000%22%20viewBox%3D%220%200%20890%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M81.0195%20762.157L44.3086%20740.961L453.272%2032.6367L489.983%2053.8318L81.0195%20762.157Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M35.9023%20684.371H853.829V726.761H35.9023V684.371Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M461.206%20944.399L52.0898%20708.188L73.2849%20671.477L482.401%20907.688L461.206%20944.399ZM816.605%20328.773L407.488%2092.5625L428.683%2055.8516L837.8%20292.062L816.605%20328.773Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M73.3982%20328.61L52.2031%20291.902L461.32%2055.6914L482.515%2092.3998L73.3982%20328.61Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M809.061%20762.164L400.098%2053.8396L436.809%2032.6445L845.772%20740.969L809.061%20762.164ZM68.3359%20263.791H110.726V736.212H68.3359V263.791Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M779.266%20263.789H821.656V736.21H779.266V263.789Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M453.99%20926.457L435.477%20894.388L791.299%20688.949L809.813%20721.015L453.99%20926.457Z%22%20fill%3D%22%23E535AB%22%2F%3E%3Cpath%20d%3D%22M877.835%20750C853.32%20792.646%20798.672%20807.201%20756.027%20782.686C713.381%20758.172%20698.826%20703.524%20723.34%20660.878C747.855%20618.233%20802.503%20603.677%20845.148%20628.192C888.049%20652.962%20902.605%20707.354%20877.835%20750ZM166.394%20339.122C141.88%20381.767%2087.232%20396.323%2044.5865%20371.808C1.94093%20347.293%20-12.6147%20292.646%2011.9001%20250C36.4149%20207.354%2091.0625%20192.799%20133.708%20217.314C176.354%20242.084%20190.909%20296.476%20166.394%20339.122ZM12.1554%20750C-12.3594%20707.354%202.19629%20652.962%2044.8418%20628.192C87.4874%20603.677%20141.88%20618.233%20166.65%20660.878C191.165%20703.524%20176.609%20757.916%20133.963%20782.686C91.0625%20807.201%2036.6702%20792.646%2012.1554%20750ZM723.596%20339.122C699.081%20296.476%20713.637%20242.084%20756.282%20217.314C798.928%20192.799%20853.32%20207.354%20878.09%20250C902.605%20292.646%20888.049%20347.038%20845.404%20371.808C802.758%20396.323%20748.111%20381.767%20723.596%20339.122ZM444.995%201000C395.71%201000%20355.874%20960.163%20355.874%20910.878C355.874%20861.593%20395.71%20821.757%20444.995%20821.757C494.28%20821.757%20534.117%20861.593%20534.117%20910.878C534.117%20959.908%20494.28%201000%20444.995%201000ZM444.995%20178.243C395.71%20178.243%20355.874%20138.407%20355.874%2089.1216C355.874%2039.8366%20395.71%200%20444.995%200C494.28%200%20534.117%2039.8366%20534.117%2089.1216C534.117%20138.407%20494.28%20178.243%20444.995%20178.243Z%22%20fill%3D%22%23E535AB%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div
      id="graphql-dots-container"
      class="relative h-[500px] w-[500px] bg-gray-950"
      data-color={color}
    >
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  const colorGraphql = document
    .querySelector('#graphql-dots-container')
    ?.getAttribute('data-color');
  const colorGraphqlRgb = colorGraphql?.split(',').map(Number);
  new DotsBlock(document.querySelector('#graphql-dots-container') as HTMLElement, [
    colorGraphqlRgb!,
  ]);
</script>
