---
import hexRgb from 'hex-rgb';

const colorLogo = hexRgb('#FFFFFF', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20viewBox%3D%220%200%201000%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M467.253%200.269104C465.103%200.464578%20458.26%201.14874%20452.102%201.63743C310.068%2014.441%20177.028%2091.0671%2092.7664%20208.841C45.8456%20274.325%2015.8358%20348.605%204.49658%20427.284C0.488759%20454.748%200%20462.86%200%20500.098C0%20537.336%200.488759%20545.448%204.49658%20572.912C31.6716%20760.666%20165.298%20918.414%20346.53%20976.861C378.983%20987.319%20413.196%20994.453%20452.102%20998.754C467.253%201000.42%20532.747%201000.42%20547.898%20998.754C615.054%20991.326%20671.945%20974.71%20728.055%20946.073C736.657%20941.675%20738.319%20940.502%20737.146%20939.525C736.364%20938.939%20699.707%20889.777%20655.718%20830.352L575.758%20722.353L475.562%20574.085C420.43%20492.572%20375.073%20425.915%20374.682%20425.915C374.291%20425.818%20373.9%20491.693%20373.705%20572.13C373.412%20712.97%20373.314%20718.639%20371.554%20721.962C369.013%20726.751%20367.058%20728.706%20362.952%20730.856C359.824%20732.42%20357.087%20732.713%20342.327%20732.713H325.415L320.919%20729.878C317.986%20728.021%20315.836%20725.578%20314.37%20722.744L312.317%20718.345L312.512%20522.382L312.805%20326.321L315.836%20322.509C317.4%20320.457%20320.723%20317.818%20323.069%20316.547C327.077%20314.592%20328.641%20314.397%20345.552%20314.397C365.494%20314.397%20368.817%20315.179%20373.998%20320.848C375.464%20322.411%20429.717%20404.12%20494.624%20502.541C559.531%20600.963%20648.289%20735.352%20691.887%20801.324L771.065%20921.248L775.073%20918.609C810.557%20895.543%20848.094%20862.703%20877.81%20828.495C941.056%20755.877%20981.818%20667.327%20995.503%20572.912C999.511%20545.448%201000%20537.336%201000%20500.098C1000%20462.86%20999.511%20454.748%20995.503%20427.284C968.328%20239.53%20834.702%2081.7821%20653.47%2023.3351C621.505%2012.975%20587.488%205.84013%20549.365%201.53969C539.98%200.562316%20475.367%20-0.512795%20467.253%200.269104ZM671.945%20302.668C676.637%20305.014%20680.45%20309.51%20681.818%20314.201C682.6%20316.743%20682.796%20371.085%20682.6%20493.549L682.307%20669.281L651.32%20621.781L620.235%20574.281V446.538C620.235%20363.95%20620.626%20317.525%20621.212%20315.277C622.776%20309.803%20626.197%20305.503%20630.89%20302.962C634.897%20300.909%20636.364%20300.714%20651.711%20300.714C666.178%20300.714%20668.719%20300.909%20671.945%20302.668Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div
      id="next-dots-container"
      class="relative h-[500px] w-[500px] bg-gray-950"
      data-color={colorLogo}
    >
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const logoColor = document.querySelector('#next-dots-container')?.getAttribute('data-color');
    const logoColorRgb = logoColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#next-dots-container') as HTMLElement, [logoColorRgb!]);
  });
</script>
