---
import hexRgb from 'hex-rgb';

const colorLogo = hexRgb('#FFFFFF', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%221990%22%20height%3D%221000%22%20viewBox%3D%220%200%201990%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M157.474%20210.352H452.6C539.222%20211.08%20601.991%20236.057%20640.908%20285.242C679.825%20334.428%20692.665%20401.608%20679.451%20486.784C674.318%20525.704%20662.932%20563.877%20645.313%20601.322C628.189%20639.108%20604.304%20673.446%20574.835%20702.643C538.121%20740.815%20498.851%20765.045%20457.005%20775.33C415.159%20785.616%20371.837%20790.749%20327.061%20790.749H194.915L153.069%201000H0L157.474%20210.352ZM286.316%20335.903L220.243%20666.3C224.648%20667.027%20229.053%20667.401%20233.458%20667.401H248.875C319.353%20668.128%20378.091%20661.167%20425.07%20646.476C472.048%20631.057%20503.63%20577.467%20519.774%20485.683C532.989%20408.59%20519.774%20364.163%20480.13%20352.423C441.214%20340.682%20392.407%20335.176%20333.669%20335.903C324.859%20336.63%20316.423%20337.004%20308.341%20337.004H285.215L286.316%20335.903ZM853.817%200H1005.78L962.837%20210.352H1099.39C1174.27%20211.828%201230.06%20227.246%201266.77%20256.608C1304.21%20285.97%201315.23%20341.784%201299.81%20424.009L1226.03%20790.749H1071.86L1142.34%20440.529C1149.67%20403.811%201147.47%20377.753%201135.73%20362.335C1123.99%20346.916%201098.66%20339.207%201059.74%20339.207L937.509%20338.106L847.209%20790.749H695.242L853.817%200ZM1463%20210.352H1758.12C1844.75%20211.08%201907.51%20236.057%201946.43%20285.242C1985.35%20334.428%201998.19%20401.608%201984.97%20486.784C1979.84%20525.704%201968.46%20563.877%201950.84%20601.322C1933.71%20639.108%201909.83%20673.446%201880.36%20702.643C1843.64%20740.815%201804.37%20765.045%201762.53%20775.33C1720.68%20785.616%201677.36%20790.749%201632.58%20790.749H1500.44L1458.59%201000H1305.52L1463%20210.352ZM1591.84%20335.903L1525.77%20666.3C1530.17%20667.027%201534.58%20667.401%201538.98%20667.401H1554.4C1624.88%20668.128%201683.61%20661.167%201730.59%20646.476C1777.57%20631.057%201809.15%20577.467%201825.3%20485.683C1838.51%20408.59%201825.3%20364.163%201785.65%20352.423C1746.74%20340.682%201697.93%20335.176%201639.19%20335.903C1630.38%20336.63%201621.95%20337.004%201613.86%20337.004H1590.74L1591.84%20335.903Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div id="php-dots-container" class="relative h-[500px] w-[500px]" data-color={colorLogo}></div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const logoColor = document.querySelector('#php-dots-container')?.getAttribute('data-color');
    const logoColorRgb = logoColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#php-dots-container') as HTMLElement, [logoColorRgb!]);
  });
</script>
