---
import hexRgb from 'hex-rgb';

const colorLogo = hexRgb('#0BB3AF', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22849%22%20height%3D%221000%22%20viewBox%3D%220%200%20849%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M506.025%20477.578H302.828V575.045H501.138C512.865%20575.045%20523.606%20570.176%20532.393%20562.376C540.21%20554.576%20545.097%20542.885%20545.097%20528.261C545.379%20515.713%20541.609%20503.407%20534.347%20493.169C526.529%20483.432%20517.743%20477.578%20506.025%20477.578ZM512.865%20359.651C521.652%20353.796%20525.561%20341.127%20525.561%20324.559C525.561%20309.935%20521.652%20299.221%20514.811%20292.398C507.97%20286.544%20499.175%20282.652%20489.411%20282.652H302.828V370.365H485.502C495.275%20370.365%20505.047%20365.496%20512.865%20359.651Z%22%20fill%3D%22%2309B3AF%22%2F%3E%3Cpath%20d%3D%22M810.814%200H43.9584C19.545%200%200%2019.4917%200%2042.8834V808.966C0%20832.358%2019.545%20846.981%2042.9811%20846.981H156.297V1000L296.968%20847.958H810.814C834.259%20847.958%20848.909%20833.335%20848.909%20808.966V43.8607C848.909%2020.4689%20834.25%200.977248%20809.836%200.977248L810.814%200ZM681.861%20620.855C672.089%20638.401%20657.439%20653.015%20639.858%20663.747C621.29%20675.438%20600.776%20686.161%20577.331%20691.03C553.886%20696.884%20528.496%20701.753%20502.119%20701.753H156.297V155.942H549.009C568.545%20155.942%20585.149%20159.851%20600.776%20168.62C615.435%20176.411%20629.117%20187.134%20639.858%20199.803C661.735%20226.413%20673.498%20259.901%20673.066%20294.347C673.066%20319.684%20666.225%20344.053%20653.53%20367.445C640.35%20390.985%20619.739%20409.493%20594.922%20420.074C626.176%20428.852%20650.598%20444.443%20669.166%20466.858C686.748%20490.25%20695.534%20520.464%20695.534%20558.479C695.534%20582.848%20690.648%20603.317%20680.884%20620.855H681.861Z%22%20fill%3D%22%2309B3AF%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div id="storyblok-dots-container" class="relative h-[500px] w-[500px]" data-color={colorLogo}>
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  document.addEventListener('astro:page-load', () => {
    const logoColor = document
      .querySelector('#storyblok-dots-container')
      ?.getAttribute('data-color');
    const logoColorRgb = logoColor?.split(',').map(Number);
    new DotsBlock(document.querySelector('#storyblok-dots-container') as HTMLElement, [
      logoColorRgb!,
    ]);
  });
</script>
