---
import Button from '@/components/button.astro';
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout
  story={{
    slug: '404',
    content: {
      component: 'not-found',
      metaTitle: 'Oups ! Page non trouvée !',
      metaDescription:
        "La page à laquelle vous souhaitez accéder semble ne pas exister. Retournez à l'accueil.",
      ogBadge: '404',
      ogTitle: 'Oups ! Page non trouvée !',
    },
  }}
>
  <div class="container flex flex-col py-16 sm:py-24">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      viewBox="0 0 385 385"
      enable-background="new 0 0 385 385"
      xml:space="preserve"
      class="mx-auto mb-10 max-w-[200px] md:max-w-xs"
    >
      <path fill="#F0F0FF" d="M180.2,331c0,0-0.3,38,25.6,38s25.6-38,25.6-38"></path>
      <ellipse fill="#F0F0FF" cx="205.8" cy="331" rx="25.6" ry="16.5"></ellipse>
      <ellipse fill="#192273" cx="205.8" cy="331" rx="18.4" ry="11.9"></ellipse>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_1"
        gradientUnits="userSpaceOnUse"
        x1="203.1474"
        y1="154.7396"
        x2="209.5474"
        y2="-39.6304"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(184, 255, 0);"></stop>
        <stop offset="1" style="stop-color: rgb(0, 126, 184);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_1)"
        d="M202.1,339.5c-4-0.9-7.3-3.5-9.4-7c-12.4-21.7-26.1-82.3-22.9-79c3.6,3.7,31.6,67.3,31.6,67.3  s-10.8-88.1-5.1-89.2s16.1,90.9,15.9,90s21.6-63.2,26-58.5s-16.2,68.8-21,74.7C214.4,341.6,207.2,340.7,202.1,339.5z"
      ></path>
      <path
        fill="#394BB5"
        d="M373.1,88v68.8c0,2.8-2,3.9-4.4,2.5l-82.3-47.5c-2.6-1.7-4.2-4.5-4.4-7.5V35.5c0-2.8,2-3.9,4.4-2.5  l82.3,47.5C371.4,82.2,373,84.9,373.1,88z"
      ></path>
      <path
        fill="#192273"
        d="M373.1,88v8.3l-91-52.5v-8.2c0-2.8,2-3.9,4.4-2.5l82.3,47.5C371.4,82.2,373,84.9,373.1,88z"
      ></path>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 5.9355 195.7262)"
        fill="#394BB5"
        cx="368.2"
        cy="86.8"
        rx="0.6"
        ry="1"></ellipse>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 6.6519 193.0725)"
        fill="#394BB5"
        cx="363.6"
        cy="84.1"
        rx="0.6"
        ry="1"></ellipse>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 7.3632 190.4101)"
        fill="#394BB5"
        cx="359"
        cy="81.5"
        rx="0.6"
        ry="1"></ellipse>
      <path
        fill="#4963CE"
        d="M359.4,108.3L296,71.7c-0.8-0.6-1.3-1.5-1.3-2.4l0,0c0-0.9,0.6-1.4,1.3-1l63.4,36.6c0.8,0.6,1.3,1.5,1.3,2.4  l0,0C360.6,108.2,360.1,108.7,359.4,108.3z"
      ></path>
      <path
        fill="#4963CE"
        d="M359.4,121.2L296,84.6c-0.8-0.6-1.3-1.5-1.3-2.4l0,0c0-0.9,0.6-1.4,1.3-1l63.4,36.6c0.8,0.6,1.3,1.5,1.3,2.4  l0,0C360.6,121.2,360.1,121.6,359.4,121.2z"
      ></path>
      <path
        fill="#4963CE"
        d="M359.4,134.1L296,97.5c-0.8-0.6-1.3-1.5-1.3-2.5l0,0c0-0.9,0.6-1.4,1.3-1l63.4,36.6c0.8,0.6,1.3,1.5,1.3,2.4  l0,0C360.6,134.1,360.1,134.5,359.4,134.1z"
      ></path>
      <path
        fill="#F0F0FF"
        d="M343.2,113.3v163.6c0,3.9-2.8,5.5-6.2,3.5L160.8,178.7c-3.6-2.4-5.9-6.3-6.2-10.7V4.4c0-3.9,2.8-5.5,6.2-3.6  L337,102.6C340.7,105,343,108.9,343.2,113.3z"
      ></path>
      <path
        fill="#C0C0ED"
        d="M343.2,113.3v9.4L154.6,13.8V4.4c0-3.9,2.8-5.5,6.2-3.6L337,102.6C340.7,105,343,108.9,343.2,113.3z"
      ></path>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 -9.2146 179.3723)"
        fill="#FFFFFF"
        cx="330.1"
        cy="106.9"
        rx="1.1"
        ry="2"></ellipse>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 -7.585 173.293)"
        fill="#FFFFFF"
        cx="319.6"
        cy="100.8"
        rx="1.1"
        ry="2"></ellipse>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 -5.9555 167.2138)"
        fill="#FFFFFF"
        cx="309"
        cy="94.7"
        rx="1.1"
        ry="2"></ellipse>
      <path
        fill="#192273"
        d="M213.5,136.8c-0.7-0.5-1.2-1.3-1.2-2.1v-6.4l-15.2-8.8c-0.4-0.2-0.7-0.5-0.9-0.9c-0.2-0.4-0.4-0.8-0.4-1.2  v-5.4c0-0.3,0.1-0.6,0.2-0.8c0.1-0.2,0.2-0.4,0.4-0.6l14.3-14.1c0.4-0.4,1-0.4,1.8,0.1l7.1,4.1c0.4,0.2,0.7,0.5,0.9,0.9  c0.2,0.4,0.4,0.8,0.4,1.2v22l4.3,2.5c0.8,0.5,1.2,1.3,1.3,2.1v5.6c0,0.4-0.1,0.7-0.4,0.8c-0.3,0.1-0.6,0.1-0.9-0.1l-4.3-2.5v6.4  c0,0.3-0.1,0.6-0.4,0.8c-0.3,0.1-0.6,0.1-0.9-0.1L213.5,136.8z M204.2,115.6l8.2,4.8V107L204.2,115.6z"
      ></path>
      <path
        fill="#192273"
        d="M247.4,156.9c-2.2-1.3-4.3-2.9-6.1-4.7c-3.3-3.3-5.6-7.4-6.9-11.9c-0.6-2.1-0.9-4.2-1-6.4  c0-1-0.1-2.2-0.1-3.5s0-2.6,0-4s0-2.5,0.1-3.6c0-1.8,0.4-3.5,1.1-5.2c0.5-1.3,1.4-2.4,2.6-3.2c1.3-0.7,2.8-0.9,4.3-0.7  c2.1,0.4,4.2,1.2,6,2.3c4.3,2.4,7.9,6,10.3,10.2c1.1,2,2,4.1,2.7,6.2c0.6,2.1,0.9,4.2,1,6.4c0.1,1.1,0.1,2.3,0.1,3.7  c0,1.3,0,2.7,0,4s-0.1,2.4-0.1,3.4c0,1.8-0.4,3.6-1,5.3c-0.5,1.3-1.4,2.5-2.6,3.2c-1.3,0.7-2.8,1-4.3,0.7  C251.4,158.9,249.3,158.1,247.4,156.9z M247.4,148.7c1.7,1,2.9,1.1,3.7,0.2c0.8-0.8,1.2-2.3,1.2-4.4c0.1-1.1,0.1-2.2,0.1-3.4  s0-2.4,0-3.6s-0.1-2.4-0.1-3.4c0-2-0.4-3.9-1.2-5.7c-0.8-1.7-2.1-3.2-3.7-4.1c-1.7-1-2.9-1-3.7-0.1c-0.9,1.3-1.3,2.8-1.2,4.3  c0,1-0.1,2.1-0.1,3.3s0,2.4,0,3.6s0,2.4,0.1,3.5c0,2,0.5,4,1.3,5.9C244.5,146.4,245.8,147.8,247.4,148.7z"
      ></path>
      <path
        fill="#192273"
        d="M286.1,178.7c-0.4-0.2-0.7-0.5-0.9-0.9c-0.2-0.4-0.4-0.8-0.4-1.2v-6.4l-15.2-8.8c-0.4-0.2-0.7-0.5-0.9-0.9  c-0.2-0.4-0.4-0.8-0.4-1.2v-5.4c0-0.3,0.1-0.6,0.2-0.8c0.1-0.2,0.2-0.4,0.4-0.6l14.3-14.1c0.4-0.4,1-0.4,1.8,0.1l7.1,4.1  c0.4,0.2,0.7,0.5,0.9,0.9c0.2,0.4,0.4,0.8,0.4,1.2v22l4.4,2.5c0.4,0.2,0.7,0.6,0.9,1c0.2,0.4,0.3,0.8,0.3,1.2v5.6  c0,0.3-0.1,0.6-0.4,0.8c-0.3,0.1-0.6,0.1-0.9-0.1l-4.4-2.5v6.4c0,0.4-0.1,0.7-0.4,0.8c-0.3,0.1-0.6,0.1-0.9-0.1L286.1,178.7z  M276.9,157.5l8.2,4.8v-13.4L276.9,157.5z"
      ></path>
      <path
        fill="#C0C0ED"
        d="M292.7,204.1l-28.8-16.6c-0.7-0.5-1.1-1.3-1.1-2.1l0,0c0-0.8,0.5-1.2,1.1-0.9l28.8,16.6  c0.7,0.5,1.1,1.3,1.1,2.1l0,0C293.8,204.1,293.3,204.5,292.7,204.1z"
      ></path>
      <path
        fill="#C0C0ED"
        d="M292.7,214.6l-28.8-16.6c-0.7-0.5-1.1-1.3-1.1-2.1l0,0c0-0.8,0.5-1.2,1.1-0.8l28.8,16.6  c0.7,0.5,1.1,1.3,1.1,2.1l0,0C293.8,214.5,293.3,214.9,292.7,214.6z"
      ></path>
      <path
        fill="#C0C0ED"
        d="M278.1,216.6l-14.2-8.2c-0.7-0.5-1.1-1.3-1.1-2.1l0,0c0-0.8,0.5-1.2,1.1-0.9l14.2,8.2  c0.7,0.5,1.1,1.3,1.1,2.1l0,0C279.3,216.6,278.8,216.9,278.1,216.6z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_2"
        gradientUnits="userSpaceOnUse"
        x1="-353.685"
        y1="-1013.8183"
        x2="119.215"
        y2="-1449.0083"
        gradientTransform="matrix(0.87 0.5 0 -1.15 373.0753 -1031.6949)"
      >
        <stop offset="0" style="stop-color: rgb(224, 151, 255);"></stop>
        <stop offset="1" style="stop-color: rgb(92, 49, 255);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_2)"
        d="M229.8,243.2l-58.2-33.6c-2.1-1.5-3.4-4-3.5-6.6v-44.4c0-2.5,1.6-3.7,3.5-2.6l58.2,33.6  c2.1,1.5,3.4,4,3.5,6.6v44.4C233.2,243.2,231.7,244.3,229.8,243.2z"
      ></path>
      <path
        fill="#FFFFFF"
        d="M219.2,200.5l-37.1-21.4c-0.7-0.5-1.2-1.3-1.2-2.2l0,0c0-0.9,0.5-1.3,1.2-0.9l37.1,21.4  c0.7,0.5,1.2,1.3,1.2,2.2l0,0C220.4,200.5,219.8,200.9,219.2,200.5z"
      ></path>
      <path
        fill="#FFFFFF"
        d="M219.2,211.9l-37.1-21.4c-0.7-0.5-1.2-1.4-1.2-2.2l0,0c0-0.9,0.5-1.3,1.2-0.9l37.1,21.4  c0.7,0.5,1.2,1.3,1.2,2.2l0,0C220.4,211.9,219.8,212.3,219.2,211.9z"
      ></path>
      <path
        fill="#FFFFFF"
        d="M202.3,213.6l-20.2-11.7c-0.7-0.5-1.2-1.4-1.2-2.2l0,0c0-0.9,0.5-1.3,1.2-0.9l20.2,11.7  c0.7,0.5,1.2,1.4,1.2,2.2l0,0C203.5,213.5,202.9,213.9,202.3,213.6z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_3"
        gradientUnits="userSpaceOnUse"
        x1="-235.0304"
        y1="-734.0615"
        x2="-166.7304"
        y2="-1061.5914"
        gradientTransform="matrix(0.87 0.5 0 -1.15 378.6753 -1016.785)"
      >
        <stop offset="0" style="stop-color: rgb(255, 174, 129);"></stop>
        <stop offset="1" style="stop-color: rgb(254, 85, 110);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_3)"
        d="M222.1,13.8l-26.2,37.3c-1.6,2.2-1.1,5.4,1.2,7c0.1,0.1,0.3,0.2,0.4,0.3l52.5,30.3  c2.4,1.4,5.4,0.7,6.9-1.7c0.8-1.4,1-3,0.3-4.5l-26.2-67.6c-1-2.6-3.8-3.9-6.4-2.9C223.5,12.3,222.6,13,222.1,13.8z"
      ></path>
      <path
        fill="#FFFFFF"
        d="M227.5,52.6L227.5,52.6c-1.1-0.7-1.8-1.9-1.9-3.3l-0.8-18.4c-0.1-1.9,1.2-2.7,2.8-1.8l0,0  c1.7,1.1,2.7,3,2.8,5l-0.8,17.5C229.4,52.8,228.5,53.2,227.5,52.6z"
      ></path>
      <ellipse
        transform="matrix(0.866 -0.5 0.5 0.866 0.5843 121.75)"
        fill="#FFFFFF"
        cx="227.5"
        cy="59.8"
        rx="2.5"
        ry="4.3"></ellipse>
      <path
        fill="#C0C0ED"
        d="M187.2,90.1l-15,8.7c-0.8,0.4-1.9,0.2-2.9-0.8l-13.4-11.9l-38.1,26.4c-4.1,2.8-11.1-1-15.5-8.5  s-4.1-15.5,0.4-17.6l41.9-19.7L141,49.2c-0.3-1.4,0-2.5,0.8-2.9l15-8.7c0.8-0.5,1.9-0.2,2.9,0.8l7.6,6.6c2.3,2,3,5.7,1.4,6.7  l-12.2,7.1c-1.2,0.7-1.2,2.9,0,5l7.9,13.6c1.2,2.1,3.1,3.2,4.3,2.5l12.2-7c1.7-1,4.5,1.6,5.1,4.5l2,9.9  C188.2,88.6,187.9,89.7,187.2,90.1z"
      ></path>
      <path
        fill="#C0C0ED"
        d="M62.4,332.9c8.7,1.2,22.5-3.2,24.2,5.1s-14.5,23.3-20.7,24.9s-12.8,1.5-15.5-3.4s0-23.3,0-23.3"
      ></path>
      <path
        fill="#C0C0ED"
        d="M111.5,354.1c11.4,3.7,41-5.3,46.8,6.3s-27.7,23.4-41.8,24.4s-19.7-3.3-16.4-18.6"></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_4"
        gradientUnits="userSpaceOnUse"
        x1="111.5425"
        y1="386.8221"
        x2="9.4025"
        y2="224.1121"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(216, 82, 121);"></stop>
        <stop offset="1" style="stop-color: rgb(255, 219, 207);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_4)"
        d="M38.8,67.6c0,0-22.2,10-26.4,18.7s15.3,57.5,15.2,60.3c-0.1,2.7,7.1,19.7,14.9,23.4  s4.2-11.4,4.3-13.3s-3-13.2-3-13.2s2.5,0.1,2.5-1.4s-7.7-6.6-7.7-6.6l-6.8-36.5l11.5-5.2"
      ></path>
      <path
        fill="#192273"
        d="M109.6,374.2c-13.5-0.7-12.3-6.4-12.4-9.6s-20.8-139-20.8-139s-0.3,23.1-0.4,48.3  c-0.2,27.7-0.2,57.9,0.3,62.3c1.1,8.4-8.2,10.8-19,10.1s-11-8.5-10.9-14.5s-9.1-153.5-5-183.5l71.2,20.9c0,0,14.2,182.9,14.3,185.6  c0.2,2.9,1.1,5.8,2.5,8.4C131.1,366.4,123.1,374.9,109.6,374.2z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_5"
        gradientUnits="userSpaceOnUse"
        x1="107.4738"
        y1="337.4791"
        x2="37.3038"
        y2="134.4691"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(36, 209, 252);"></stop>
        <stop offset="1" style="stop-color: rgb(91, 50, 255);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_5)"
        d="M151.3,109.7c-4.6-0.6-9.2-0.2-13.6,1.4c-6.6,2.6-7.3,15.9-8.2,15.8c-0.9-0.1-6.8-12.9-6.8-12.9  s-3,12.8-5.1,23.7c-0.9,4.3-1.6,8.6-2,12.9c-0.5,8.1,3.1,13.1-0.9,18.9s-31.4,8.9-47.9,2.1S41.6,152.3,41,149  c-0.6-3.3,8.3-33.5,9.8-41s3-15.8,3-15.8s-2.7,1.2-5.8,2.4c-3.6,1.4-7.9,2.9-9.3,2.7c-2.6-0.5-7.7-8-7.8-16.2s5.5-13.1,12.4-15.8  c11.2-4.4,23-7.5,34.9-9.2c13.7-1.7,26.9,2.8,26.9,2.8l5,3c4.8,4.8,22.7,11.8,25.6,16.9S151.3,109.7,151.3,109.7z"
      ></path>
      <path
        fill="#192273"
        d="M94.3,49.7c-7.4-11.5-12.4-21.9-9.1-28.9c1.6-4,6-5.9,10-4.4c0,0-2-10.4,8.7-14.4s31.6-1.5,32.3,2.7  c0.7,4.2-2.6,5.3-2.6,5.3c5.5,1.2,9.6,5.9,10,11.5c1,9.9-12.8,8.3-12.8,8.3S114.9,51,113.9,51.2s-8.9,5.1-15.2,3.6l-4.5-2.1  L94.3,49.7z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_6"
        gradientUnits="userSpaceOnUse"
        x1="116.3727"
        y1="514.4106"
        x2="112.2227"
        y2="311.8006"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(216, 82, 121);"></stop>
        <stop offset="1" style="stop-color: rgb(255, 219, 207);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_6)"
        d="M134.7,43.7c-0.5,1.2-2.7,1.5-3.1,1.6s-1.7,9.4-6.1,10.1c-4.4,0.7-8.9-2.8-9.2-3l0,0l-3.9,7l-2,3.8  c-4.3,2.2-9.3,2.6-14,1.4c-7.4-2.2-6.8-7.4-5.4-9.1c1.3-1.8,2.4-3.8,3.3-5.8c0,0,0.7,3.4,5.9,4.3c3.1,0.3,6.3-0.5,8.8-2.3  c1.3-0.9,2.6-1.9,3.7-3c2.6-2.5,4.2-5,3.9-5.4c-7.1-1-8-10.1-2.8-12.1s6.4,6.1,7.4,6.5s5.3-5.6,7-11.3c0,0,3.4-1.5,7.5-3.8  c-0.1,2.3-2.3,10.3-2.5,11.9C132.9,36.1,135.2,42.4,134.7,43.7z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_7"
        gradientUnits="userSpaceOnUse"
        x1="116.9117"
        y1="341.1439"
        x2="106.6917"
        y2="319.0038"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(216, 82, 121);"></stop>
        <stop offset="1" style="stop-color: rgb(255, 219, 207);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_7)"
        d="M116.3,52.4l-3.9,7c-0.4-0.3-0.8-0.7-1.1-1.2c-1.2-2-2-4.2-2.2-6.6c1.3-0.9,2.6-1.9,3.7-3  C114.6,50.5,116.3,52.4,116.3,52.4z"
      ></path>
      <path
        fill="none"
        stroke="#D85279"
        stroke-width="0.88"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M114.3,35.3  c2.6-0.1,3.1,2.4,2.2,4.2"></path>
      <path
        fill="none"
        stroke="#D85279"
        stroke-width="0.88"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M122.1,47.2  c0,0,3-1.8,5,0"></path>
      <ellipse
        transform="matrix(9.740914e-02 -0.9952 0.9952 9.740914e-02 78.2191 161.7286)"
        fill="#192273"
        cx="128.3"
        cy="37.7"
        rx="2"
        ry="1.5"></ellipse>
      <path
        fill="none"
        stroke="#192273"
        stroke-width="0.88"
        stroke-linecap="round"
        stroke-miterlimit="10"
        d="M127.9,32.1  c0,0,2.1-1.5,3.6,0.3"></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_8"
        gradientUnits="userSpaceOnUse"
        x1="99.0117"
        y1="305.2852"
        x2="137.8417"
        y2="219.1053"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(36, 209, 252);"></stop>
        <stop offset="1" style="stop-color: rgb(91, 50, 255);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_8)"
        d="M122.7,114c0,0-3,12.8-5.1,23.7c-5.2-14.1-4.2-32.3-1.4-32.7C119.4,104.8,122.7,114,122.7,114z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_9"
        gradientUnits="userSpaceOnUse"
        x1="56.6694"
        y1="342.2731"
        x2="45.9894"
        y2="237.1331"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(36, 209, 252);"></stop>
        <stop offset="1" style="stop-color: rgb(91, 50, 255);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_9)"
        d="M53.8,92.2c0,0-2.7,1.2-5.8,2.4c0.8-11.6,7.4-18.9,7.9-16.2C56.6,81.4,53.8,92.2,53.8,92.2z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_10"
        gradientUnits="userSpaceOnUse"
        x1="150.9505"
        y1="574.7324"
        x2="123.3605"
        y2="116.9324"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(216, 82, 121);"></stop>
        <stop offset="1" style="stop-color: rgb(255, 219, 207);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_10)"
        d="M129.6,126.9l7.6,13c0,0-34.2,24.2-38,30.4s-2.4,16.9-0.7,22.1s0,12.1,0.8,14.1s6.8-0.4,8.6-2.6  c1.2-1.6,2-3.3,2.5-5.2c0,0-1.1,4.4,0.2,4.9s3.2-3.4,3.4-7.6s-1-16.1-1-16.1s43.9-23.2,48.6-29.1s-10.4-41-10.4-41  S129.7,102.1,129.6,126.9z"
      ></path>
      <path
        fill="#0A1349"
        d="M76.4,225.6c0,0-0.3,23.1-0.4,48.3c-4.5-7.2-16.6-47.2-17.6-51.9C57.4,217.1,67.4,223.8,76.4,225.6z"
      ></path>
      <linearGradient
        id="ERRORS_PAGENOTFOUND_11"
        gradientUnits="userSpaceOnUse"
        x1="265.1143"
        y1="283.3959"
        x2="524.6743"
        y2="-113.0841"
        gradientTransform="matrix(1 0 0 -1 0 384)"
      >
        <stop offset="0" style="stop-color: rgb(36, 209, 252);"></stop>
        <stop offset="1" style="stop-color: rgb(91, 50, 255);"></stop>
      </linearGradient>
      <path
        fill="url(#ERRORS_PAGENOTFOUND_11)"
        d="M368.8,225.9l-6.5-3.8c-0.5-2.4-1.2-4.7-2.1-7l4.6-2.7c0.9-0.5,0.9-2.3,0-3.9l-4.9-8.4  c-0.9-1.6-2.5-2.5-3.4-2l-4.6,2.7l0,0c-1.5-1.9-3.2-3.7-5-5.3V188c-0.1-1.7-1-3.2-2.4-4.2l-6.9-4c-1.3-0.8-2.4-0.1-2.4,1.4v7.5  c-1.6-0.5-3.3-0.6-5-0.5l0,0l-4.6-8c-0.9-1.6-2.5-2.5-3.4-2l-4.9,2.8c-0.9,0.6-0.9,2.3,0,3.9l4.6,8c-0.9,1.4-1.6,2.9-2.1,4.6  l-6.5-3.8c-1.3-0.8-2.4-0.1-2.4,1.4v7.9c0.1,1.7,1,3.2,2.4,4.2l6.5,3.8c0.5,2.4,1.2,4.7,2.1,7l0,0l-4.6,2.7c-0.9,0.5-0.9,2.3,0,3.9  l4.9,8.4c0.9,1.6,2.5,2.5,3.4,2l4.6-2.7c1.5,1.9,3.2,3.6,5,5.3v7.5c0.1,1.7,1,3.2,2.4,4.2l6.9,4c1.3,0.8,2.4,0.1,2.4-1.4v-7.5  c1.6,0.5,3.3,0.6,5,0.5l4.6,8c0.9,1.6,2.5,2.5,3.4,2l4.9-2.8c0.9-0.5,0.9-2.3,0-3.9l-4.6-8l0,0c0.9-1.4,1.7-2.9,2.1-4.6l6.5,3.8  c1.3,0.8,2.4,0.1,2.4-1.4v-7.9C371.1,228.4,370.2,226.9,368.8,225.9z M341.1,228.7c-5.7-3.3-10.4-11.3-10.4-17.9s4.6-9.3,10.4-6  s10.4,11.3,10.4,18S346.8,232,341.1,228.7L341.1,228.7z"
      ></path>
    </svg>
    <h1
      class="font-heading mx-auto text-center text-4xl font-medium tracking-tighter text-pretty text-gray-950 sm:text-5xl lg:text-6xl dark:text-white"
    >
      Oups !
    </h1>
    <p class="mt-10 text-center text-lg text-gray-600">
      La page à laquelle vous souhaitez accéder ne semble pas exister.
    </p>
    <div class="mt-10 flex justify-center">
      <Button isArrowShowed={true} isLink={true} link="/" color="blueFull">
        Retourner à l'accueil
      </Button>
    </div>
  </div>
</BaseLayout>
