---
import Button from '@/components/button.astro';
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout
  story={{
    slug: '404',
    content: {
      component: 'not-found',
      metaTitle: 'Oups ! Page non trouvée',
      metaDescription:
        "La page à laquelle vous souhaitez accéder semble ne pas exister. Retournez à l'accueil.",
      ogBadge: '404',
      ogTitle: 'Oups ! Page non trouvée',
    },
  }}
>
  <div class="container flex flex-col py-16 sm:py-24">
    <h1
      class="font-heading mx-auto text-center text-4xl font-medium tracking-tighter text-pretty text-gray-950 sm:text-5xl lg:text-6xl dark:text-white"
    >
      Oups !
    </h1>
    <p class="mt-10 text-center text-lg text-gray-600">
      La page à laquelle vous souhaitez accéder ne semble pas exister.
    </p>
    <div class="mt-10 flex justify-center">
      <Button isArrowShowed={true} isLink={true} link="/" color="blueFull">
        Retourner à l'accueil
      </Button>
    </div>
  </div>
</BaseLayout>
