<div
  aria-hidden="true"
  class="absolute inset-x-0 -top-px h-px opacity-30"
  style="background-image:url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 1'%3E%3Crect width='1' height='1' fill='%23191919'/%3E%3C/svg%3E&quot;);-webkit-mask-image:linear-gradient(to right, transparent, white 7rem, white calc(100% - 7rem), transparent);mask-image:linear-gradient(to right, transparent, white 7rem, white calc(100% - 7rem), transparent);margin-left:-7rem;margin-right:-7rem"
>
</div>
