---
import { cn } from '@/lib/utils';

interface Link {
  label: string;
  href: string;
}

const { links, showHome = false } = Astro.props as { links: Link[]; showHome?: boolean };
---

<nav class="flex" aria-label="Breadcrumb">
  <ol class="flex items-center">
    {
      showHome && (
        <li>
          <div>
            <a href="/" class="text-gray-400 hover:text-gray-500">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="-0.75 -0.75 21 21"
                class="size-4 shrink-0 text-gray-400"
              >
                <path
                  fill="currentColor"
                  fill-opacity="0.15"
                  d="M3.4821428571428568 17.410714285714285V8.357142857142858L9.75 2.0892857142857144 16.017857142857142 8.357142857142858v9.053571428571429h-12.535714285714285Z"
                  stroke-width="1.5"
                />
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M0.6964285714285714 11.142857142857142 9.75 2.0892857142857144 18.803571428571427 11.142857142857142"
                  stroke-width="1.5"
                />
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m3.4821428571428568 8.357142857142858 0 9.053571428571429h12.535714285714285V8.357142857142858"
                  stroke-width="1.5"
                />
              </svg>
              <span class="sr-only">Accueil</span>
            </a>
          </div>
        </li>
      )
    }

    {
      links.map((link, index) => (
        <li class={cn(index === links.length - 2 ? 'sm:block' : 'hidden sm:block')}>
          <div class="flex items-center">
            <svg
              class={cn(
                'size-4 shrink-0 text-gray-400',
                index === 0 && 'sm:hidden',
                index === links.length - 2 && 'rotate-180 sm:rotate-0'
              )}
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>
            <a
              href={link.href}
              class="text-xs font-medium text-gray-500 hover:text-gray-700"
              {...(index === links.length - 1 ? { 'aria-current': 'page' } : {})}
            >
              {link.label}
            </a>
          </div>
        </li>
      ))
    }
  </ol>
</nav>
