---
import hexRgb from 'hex-rgb';

const color = hexRgb('#539E43', { format: 'array' });
---

<div
  class="absolute size-[500px]"
  style="mask: url(data:image/svg+xml,%3Csvg%20width%3D%22888%22%20height%3D%221000%22%20viewBox%3D%220%200%20888%201000%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M443.724%201000C429.948%201000%20417.087%20996.328%20405.14%20989.897L282.957%20917.323C264.579%20907.212%20273.768%20903.54%20279.285%20901.704C304.085%20893.437%20308.68%20891.593%20334.402%20876.903C337.161%20875.059%20340.841%20875.981%20343.591%20877.817L437.301%20933.857C440.973%20935.693%20445.568%20935.693%20448.318%20933.857L814.882%20721.637C818.554%20719.801%20820.399%20716.121%20820.399%20711.534V288.017C820.399%20283.414%20818.554%20279.75%20814.882%20277.906L448.318%2066.6078C444.646%2064.7637%20440.051%2064.7637%20437.301%2066.6078L70.7373%20277.906C67.0649%20279.742%2065.2208%20284.336%2065.2208%20288.009V711.526C65.2208%20715.207%2067.0649%20719.793%2070.7373%20721.637L170.878%20779.513C225.081%20807.072%20259.071%20774.919%20259.071%20742.766V324.756C259.071%20319.248%20263.665%20313.731%20270.096%20313.731H316.947C322.463%20313.731%20327.972%20318.326%20327.972%20324.756V742.766C327.972%20815.339%20288.466%20857.603%20219.565%20857.603C198.437%20857.603%20181.903%20857.603%20135.044%20834.631L38.584%20779.513C14.6976%20765.738%200%20740.007%200%20712.448V288.931C0%20261.372%2014.6976%20235.641%2038.584%20221.866L405.14%209.646C428.112%20-3.21533%20459.351%20-3.21533%20482.316%209.646L848.872%20221.866C872.758%20235.641%20887.463%20261.372%20887.463%20288.931V712.448C887.463%20740.007%20872.758%20765.738%20848.872%20779.513L482.316%20991.733C470.368%20997.25%20456.585%201000%20443.724%201000ZM556.725%20708.776C395.959%20708.776%20362.883%20635.28%20362.883%20572.81C362.883%20567.293%20367.478%20561.785%20373.909%20561.785H421.682C427.19%20561.785%20431.785%20565.457%20431.785%20570.974C439.137%20619.661%20460.265%20643.547%20557.647%20643.547C634.815%20643.547%20667.899%20626.092%20667.899%20584.749C667.899%20560.863%20658.702%20543.415%20538.356%20531.468C438.215%20521.357%20375.745%20499.314%20375.745%20419.388C375.745%20344.971%20438.223%20300.87%20542.95%20300.87C660.538%20300.87%20718.422%20341.298%20725.775%20429.483C725.775%20432.25%20724.853%20435%20723.017%20437.758C721.172%20439.594%20718.422%20441.431%20715.664%20441.431H667.891C663.296%20441.431%20658.702%20437.758%20657.788%20433.164C646.763%20382.64%20618.282%20366.099%20542.95%20366.099C458.429%20366.099%20448.318%20395.502%20448.318%20417.544C448.318%20444.189%20460.265%20452.456%20574.181%20467.153C687.183%20481.859%20740.472%20502.987%20740.472%20581.991C739.55%20662.839%20673.407%20708.776%20556.725%20708.776Z%22%20fill%3D%22%23539E43%22%2F%3E%3C%2Fsvg%3E) 0 0 / 100% 100%"
>
  <div class="absolute inset-0">
    <div
      id="node-dots-container"
      class="relative h-[500px] w-[500px] bg-gray-950"
      data-color={color}
    >
    </div>
  </div>
</div>

<script>
  import { DotsBlock } from '@/lib/dots/dots-block';
  const color = document.querySelector('#node-dots-container')?.getAttribute('data-color');
  const colorArray = color?.split(',').map(Number);
  new DotsBlock(document.querySelector('#node-dots-container') as HTMLElement, [colorArray!]);
</script>
