---
import ContactForm from '@/components/contact-form.astro';
---

<div class="flex flex-col lg:flex-row">
  <div class="lg:w-1/2">
    <div class="mx-auto flex max-w-2xl flex-col justify-start p-8 lg:p-16">
      <h1
        class="mb-4 font-mono text-xs/6 font-medium tracking-wider text-balance text-gray-600 uppercase"
      >
        Contact
      </h1>
      <h2
        class="text-4xl font-semibold tracking-tighter text-balance text-gray-950 sm:text-5xl lg:text-6xl"
      >
        Nous contacter
      </h2>
      <p class="mt-6 max-w-lg text-lg text-pretty text-gray-600">
        Notre agence est à votre écoute pour répondre à vos questions et vous accompagner dans vos
        projets.
      </p>
    </div>
  </div>

  <div class="bg-gray-100 lg:w-1/2">
    <div class="mx-auto max-w-2xl p-8 lg:p-16">
      <ContactForm />
    </div>
  </div>
</div>
