---
import type { SectionStoryblok } from '@/types/storyblok';
import { parseStoryblokBackgroundColor } from '@/utils/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface AstroProps {
  blok: SectionStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<section
  {...storyblokEditable(blok)}
  class:list={parseStoryblokBackgroundColor(blok.backgroundColor)}
>
  <div class="container py-20 sm:py-32">
    {blok.blocks && blok.blocks?.map((block) => <StoryblokComponent blok={block} />)}
  </div>
</section>
