---
import ArticleCard from '@/components/ui/article-card.astro';
import technologyService from '@/services/technology';
import type { TechnologyHomeStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: TechnologyHomeStoryblok;
}

const { blok } = Astro.props as AstroProps;

const { slug } = Astro.params;

const categoryMatch = slug?.match(/^technology-placeholder\/([^\/]+)(?:\/page\/(\d+))?$/);
const paginationMatch = slug?.match(/^technology-placeholder(?:\/[^\/]+)?\/page\/(\d+)$/);

const isCategory = !!categoryMatch;
const pageNumber = paginationMatch ? parseInt(paginationMatch[1], 10) : 1;

let articles;
let totalPages;

if (isCategory) {
  const category = await technologyService.getCategoryBySlug(categoryMatch[1]);
  totalPages = await technologyService.getTotal(category.uuid);
  articles = await technologyService.getPaginated({ category: category.uuid, page: pageNumber });
} else {
  totalPages = await technologyService.getTotal();
  articles = await technologyService.getPaginated({ page: pageNumber });
}

const categories = await technologyService.getCategories();
---

<section {...storyblokEditable(blok)} class="container py-20 pt-10 sm:py-32 sm:pt-10">
  <nav class="relative">
    <ul class="dragscroll scrollbar-hide flex flex-nowrap gap-2 overflow-x-auto pr-20">
      <li
        data-active={!isCategory}
        class="flex shrink-0 list-none items-center justify-center rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
      >
        <a class="px-2.5 py-0.5" href="/technology-placeholder">Tout</a>
      </li>
      {
        categories.map((category) => (
          <li
            data-active={isCategory && slug?.startsWith(category.full_slug)}
            class="flex shrink-0 list-none items-center justify-center rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
          >
            <a class="px-2.5 py-0.5" href={`/${category.full_slug}`}>
              {category.name}
            </a>
          </li>
        ))
      }
    </ul>
    <div
      class="pointer-events-none absolute inset-0 -right-1 bg-gradient-to-r from-transparent from-80% to-gray-50 to-95%"
      aria-hidden="true"
    >
    </div>
  </nav>
  <div class="my-10 grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 xl:grid-cols-3">
    {articles.map((article) => <ArticleCard article={article} />)}
  </div>
  {
    totalPages > 1 && (
      <nav>
        <ul class="flex flex-nowrap justify-center gap-2">
          {Array.from({ length: totalPages }, (_, index) => (
            <li
              data-active={index + 1 === pageNumber}
              class="shrink-0 list-none rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
            >
              <a
                class="block w-8 text-center"
                href={`/${isCategory ? `technology-placeholder/${categoryMatch[1]}` : 'technology-placeholder'}${index + 1 === 1 ? '' : `/page/${index + 1}`}`}
              >
                {index + 1}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</section>

<script>
  import dragscroll from 'dragscroll';
  dragscroll.reset();
</script>
