---
import WorkCard from '@/components/ui/work-card.astro';
import workService from '@/services/work';
import type { WorkHomeStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: WorkHomeStoryblok;
}

const { blok } = Astro.props as AstroProps;

const { slug } = Astro.params;

const categoryMatch = slug?.match(/^realisations\/([^\/]+)(?:\/page\/(\d+))?$/);
const paginationMatch = slug?.match(/^realisations(?:\/[^\/]+)?\/page\/(\d+)$/);

const isCategory = !!categoryMatch;
const pageNumber = paginationMatch ? parseInt(paginationMatch[1], 10) : 1;

let works;
let totalPages;

if (isCategory) {
  const category = await workService.getCategoryBySlug(categoryMatch[1]);
  totalPages = await workService.getTotal(category.uuid);
  works = await workService.getPaginated({ category: category.uuid, page: pageNumber });
} else {
  totalPages = await workService.getTotal();
  works = await workService.getPaginated({ page: pageNumber });
}

const categories = await workService.getCategories();
---

<div {...storyblokEditable(blok)} class="container py-20 sm:py-32">
  <nav class="relative">
    <ul class="dragscroll scrollbar-hide flex flex-nowrap gap-2 overflow-x-auto pr-20">
      <li
        data-active={!isCategory}
        class="flex shrink-0 list-none items-center justify-center rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
      >
        <a class="px-2.5 py-0.5" href="/blog">Tout</a>
      </li>
      {
        categories.map((category) => (
          <li
            data-active={isCategory && slug?.startsWith(category.full_slug)}
            class="flex shrink-0 list-none items-center justify-center rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
          >
            <a class="px-2.5 py-0.5" href={`/${category.full_slug}`}>
              {category.name}
            </a>
          </li>
        ))
      }
    </ul>
    <div
      class="pointer-events-none absolute inset-0 -right-1 bg-gradient-to-r from-transparent from-80% to-gray-50 to-95%"
      aria-hidden="true"
    >
    </div>
  </nav>
  <div class="my-10 grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 xl:grid-cols-3">
    {works.map((work) => <WorkCard work={work} />)}
  </div>
  {
    totalPages > 1 && (
      <nav>
        <ul class="flex flex-nowrap justify-center gap-2">
          {Array.from({ length: totalPages }, (_, index) => (
            <li
              data-active={index + 1 === pageNumber}
              class="shrink-0 list-none rounded-full text-sm font-medium text-gray-950 transition-colors hover:text-gray-700 data-[active=true]:bg-gray-950 data-[active=true]:text-white data-[active=true]:hover:text-white"
            >
              <a
                class="block w-8 text-center"
                href={`/${isCategory ? `realisations/${categoryMatch[1]}` : 'realisations'}${index + 1 === 1 ? '' : `/page/${index + 1}`}`}
              >
                {index + 1}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</div>

<script>
  import dragscroll from 'dragscroll';
  dragscroll.reset();
</script>
