---
import FooterLanding from '@/components/footer-landing.astro';
import Footer from '@/components/footer.astro';
import HeaderLanding from '@/components/header-landing.astro';
import Header from '@/components/header.astro';
import ArticleSchema from '@/components/seo/article-schema.astro';
import HomeSchema from '@/components/seo/home-schema.astro';
import PageSeo from '@/components/seo/page-seo.astro';
import storyblokService from '@/services/storyblok';
import '@/styles/global.css';
import type {
  ArticleStoryblok,
  BlogCategoryStoryblok,
  DefinitionStoryblok,
  GlobalStoryblok,
  LandingStoryblok,
  PageStoryblok,
  TechnologyStoryblok,
  WorkStoryblok,
} from '@/types/storyblok';
import type { ISbStoryData } from '@storyblok/astro';
import { Font } from 'astro:assets';

import { ClientRouter } from 'astro:transitions';

interface AstroProps {
  story: ISbStoryData<
    | ArticleStoryblok
    | BlogCategoryStoryblok
    | DefinitionStoryblok
    | LandingStoryblok
    | PageStoryblok
    | TechnologyStoryblok
    | WorkStoryblok
  >;
}

const { story } = Astro.props as AstroProps;
const global = await storyblokService.getStory<GlobalStoryblok>('global');

const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-suisse" preload />
    <Font cssVariable="--font-jetbrains-mono-variable" preload />
    <link rel="canonical" href={import.meta.env.WEBSITE_URL + pathname.replace(/\/$/, '')} />
    <link rel="apple-touch-icon" href="/favicon-180x180.png" type="image/png" sizes="180x180" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/favicon-192x192.png" type="image/png" sizes="192x192" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta
      name="robots"
      content={story.content.component === 'landing'
        ? 'noindex, follow'
        : 'index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1'}
    />
    <PageSeo story={story} />
    {story.slug === 'home' && <HomeSchema story={story} />}
    {
      (story.content.component === 'article' || story.content.component === 'definition') && (
        <ArticleSchema story={story} />
      )
    }
    <ClientRouter />
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
        functionality_storage: 'denied',
        personalization_storage: 'denied',
        security_storage: 'granted',
        wait_for_update: 2000,
      });

      gtag('set', 'ads_data_redaction', true);
      gtag('set', 'url_passthrough', true);
    </script>
    <script async defer is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WHHF5ZX');
    </script>
    <script
      async
      defer
      is:inline
      id="cookieyes"
      type="text/javascript"
      src="https://cdn-cookieyes.com/client_data/689ccb44cab04dbeab490a08/script.js"></script>
    <script
      async
      defer
      data-api="/stats/api/event"
      data-domain="hexium.io"
      src="/stats/js/script.js"></script>
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="https://js-eu1.hs-scripts.com/144380850.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };

      window._hsq = window._hsq || [];
    </script>
    <script>
      document.addEventListener('astro:after-swap', () => {
        window.plausible('pageview');
        window._hsq.push(['setPath', window.location.pathname]);
        window._hsq.push(['trackPageView']);
      });
    </script>
  </head>
  <body class="flex min-h-screen grow flex-col bg-gray-50 font-sans text-gray-950 antialiased">
    <noscript>
      <iframe
        title="GTM"
        src="https://www.googletagmanager.com/ns.html?id=GTM-WHHF5ZX"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    {
      story.content.component !== 'landing' ? (
        <Header navbar={global.story.content.navbar} />
      ) : (
        <HeaderLanding />
      )
    }
    <main>
      <slot />
    </main>
    {story.content.component !== 'landing' ? <Footer /> : <FooterLanding />}
    <script>
      import Lenis from 'lenis';

      new Lenis({
        autoRaf: true,
        lerp: 0.15,
      });
    </script>
  </body>
</html>
