---
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
import HomeSchema from '@/components/seo/home-schema.astro';
import '@/styles/global.css';
import '@fontsource-variable/inter/opsz.css';
import '@fontsource-variable/jetbrains-mono';

interface Props {
  metaTitle: string;
  metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props as Props;

const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/favicon-180x180.png" type="image/png" sizes="180x180" />
    <link rel="icon" href="/favicon-192x192.png" type="image/png" sizes="192x192" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />
    <script
      async
      data-strategy="afterInteractive"
      defer
      src="https://tag.clearbitscripts.com/v1/pk_9143c861efaa8e41be80e55d2acaabd4/tags.js"
      referrerpolicy="strict-origin-when-cross-origin"></script>
    {pathname === '/' && <HomeSchema />}
  </head>
  <body class="flex min-h-screen flex-grow flex-col bg-gray-50 font-sans text-gray-950 antialiased">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
