---
import type { NavbarSubDropdownStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface AstroProps {
  blok: NavbarSubDropdownStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<div {...storyblokEditable(blok)} class="navbar-sub-dropdown">
    <div class="navbar-sub-dropdown-title">{blok.title}</div>
</div>

<script>
  document.querySelectorAll('.navbar-sub-dropdown-title').forEach(title => {
    const titleText = title.textContent;

    title.addEventListener('click', () => {
      // First, hide all dropdown items
      document.querySelectorAll(`[data-subdropdown]`).forEach(items => {
        items.classList.add('hidden');
      });

      // Then show only the clicked dropdown's items
      const dropdownItems = document.querySelector(`[data-subdropdown="${titleText}"]`);

      if (dropdownItems) {
        dropdownItems.classList.remove('hidden');
        dropdownItems.classList.add('flex');
      }
    });
  });
</script>