---
import type { NavbarLinkStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: NavbarLinkStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<div {...storyblokEditable(blok)}>
  <a href={blok.link.url} class="text-blue-600">{blok.title}</a>
</div>
