---
import type { NavbarColumnStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
interface AstroProps {
  blok: NavbarColumnStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<div {...storyblokEditable(blok)}>
  <h2 class="px-3 py-1.5 font-medium text-sm">{blok.title}</h2>
  <div class="flex flex-col lg:flex-row gap-2">
    {blok.links.map((link) => <StoryblokComponent blok={link} />)}
  </div>
</div>
