---
import type { NavbarLinkStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';

interface AstroProps {
  blok: NavbarLinkStoryblok;
}

const { blok } = Astro.props as AstroProps;
---

<div {...storyblokEditable(blok)}>
  <a
    href={blok.link.cached_url}
    class="navbar-link flex items-center rounded-lg px-3 py-1.5 text-sm lg:py-0 lg:pl-3"
    >{blok.title}
  </a>
</div>
