---
import type { NavbarDropdownStoryblok } from '@/types/storyblok';
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface AstroProps {
  blok: NavbarDropdownStoryblok;
}

const { blok } = Astro.props as AstroProps;

const shouldFlexHorizontally = blok.items.every((item) => item.component === 'navbarColumn');

const subDropdownItems = blok.items.filter((item) => item.component === 'navbarSubDropdown');
---

<div {...storyblokEditable(blok)} class="group/dropdown lg:relative">
  <h2 class="dropdown-title flex items-center justify-between px-3 text-sm font-medium lg:py-1.5">
    <span>{blok.title}</span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="size-4 lg:hidden"
    >
      <path stroke-linecap="round" stroke-line-join="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
  </h2>

  <div
    class="dropdown-container bg-gray-25 invisible absolute top-0 left-full z-50 flex h-screen w-full flex-col gap-4 opacity-0 transition-all duration-500 lg:left-0 lg:top-[calc(100%+.5rem)] lg:mt-2 lg:h-auto lg:w-auto lg:flex-row lg:rounded-md lg:shadow-lg lg:group-hover/dropdown:visible lg:group-hover/dropdown:opacity-100"
  >
    <div
      class={`lg:p-4 flex flex-col gap-4 [&_a]:font-semibold ${shouldFlexHorizontally ? 'lg:flex-row' : 'lg:flex-col'}`}
    >
      <div class="back-button flex items-center gap-2 lg:hidden">
        {/* TODO: Add left arrow */}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
        </svg>

        Retour
      </div>
      {blok.items.map((link) => <StoryblokComponent blok={link} />)}
    </div>

    {
      subDropdownItems.map((item) => (
        <div class="hidden flex-col gap-6 p-4 lg:hidden" data-subdropdown={item.title}>
          {item.items.map((link) => (
            <StoryblokComponent blok={link} />
          ))}
        </div>
      ))
    }
  </div>
</div>

<script>
  const dropdownItems = document.querySelectorAll('.dropdown-title');
  const dropdownContainers = document.querySelectorAll('.dropdown-container');
  const backButtons = document.querySelectorAll('.back-button');

  const visibleClasses = ['opacity-100', 'visible', 'left-0'];
  const invisibleClasses = ['opacity-0', 'invisible', 'left-full'];

  // Function to close all dropdowns
  const closeAllDropdowns = () => {
    dropdownContainers.forEach((container) => {
      container.classList.remove(...visibleClasses);
      container.classList.add(...invisibleClasses);
    });
  };

  backButtons.forEach((button) => {
    button.addEventListener('click', () => {
      closeAllDropdowns();
    });
  });

  dropdownItems.forEach((item) => {
    const container = item.nextElementSibling as HTMLElement;

    item.addEventListener('click', (e) => {
      e.stopPropagation();

      // Toggle current dropdown
      if (!container) {
        return;
      }

      closeAllDropdowns();

      const isHidden = container.classList.contains('opacity-0');

      if (isHidden) {
        container.classList.add(...visibleClasses);
        container.classList.remove(...invisibleClasses);

        return;
      }

      container.classList.remove(...visibleClasses);
      container.classList.add(...invisibleClasses);
    });
  });

  // Close dropdowns when clicking outside
  document.addEventListener('click', (e) => {
    if (
      !(e.target as Element).closest('.dropdown-container') &&
      !(e.target as Element).closest('.dropdown-title')
    ) {
      closeAllDropdowns();
    }
  });
</script>
