---
import type { CustomerStoryblok, WorkStoryblok } from '@/types/storyblok';
import { parseStoryblokImage } from '@/utils/storyblok';
import type { ISbStoryData } from '@storyblok/astro';
import { Image } from 'astro:assets';

interface AstroProps {
  work: ISbStoryData<WorkStoryblok>;
}

const { work } = Astro.props as AstroProps;

const hasContent = !!work.content.isPublished;
const LinkWrapper = hasContent ? 'a' : 'div';
---

<div
  class="group relative isolate cursor-pointer"
  {...hasContent ? { 'data-href': `/${work.full_slug}` } : {}}
>
  <div
    class="relative aspect-[1200/630] overflow-hidden rounded-2xl bg-gray-950/5 shadow-[0_2px_10px] shadow-gray-900/20"
  >
    <Image
      sizes="(max-width: 767px) 80vw, (max-width: 1279px) 50vw, 33vw"
      class="absolute inset-0 size-full object-cover transition-all duration-300 group-hover:scale-105"
      style="color: transparent;"
      {...parseStoryblokImage(work.content.cover)}
      width={450}
      height={240}
    />
    <div class="absolute inset-0 bg-gray-950/60"></div>
    <Image
      sizes="30vw"
      class="absolute top-1/2 left-1/2 h-[100px] w-auto max-w-[200px] -translate-x-1/2 -translate-y-1/2 object-contain object-center"
      style="color: transparent;"
      {...parseStoryblokImage(
        (work.content.customer[0] as ISbStoryData<CustomerStoryblok>).content.logoWhite
      )}
      width={200}
      height={100}
    />
    <div
      class="absolute inset-0 flex p-6 transition-all group-hover:bg-gray-950/30 group-hover:backdrop-blur-xs"
    >
      <div class="flex flex-col justify-end">
        <h3
          class="translate-y-[300px] text-lg/5 font-semibold tracking-tight text-white transition-all group-hover:translate-y-0"
        >
          <LinkWrapper {...hasContent ? { href: `/${work.full_slug}` } : {}}>
            {work.content.project}
            <span class="absolute inset-0 z-10" aria-hidden="true"></span>
          </LinkWrapper>
        </h3>
      </div>
    </div>
  </div>
</div>

<script>
  import { navigate } from 'astro:transitions/client';

  const links = document.querySelectorAll('[data-href]');
  links.forEach((link) => {
    link.addEventListener('click', () => {
      const href = link.getAttribute('data-href');
      if (href) {
        navigate(href);
      }
    });
  });
</script>
